/* general styles */
.container {
  padding-top:20px; 
}
.text-explanation{
  /*font: 12px sans-serif;*/
  max-width: 600px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 30px;
  text-align: justify;
  line-height: 1.5;
}
.bg-danger {
  width: 80%; 
  margin-left: 10%; 
  margin-top: 20px;
  margin-bottom: 20px; 
  padding-top: 20px; 
  padding-left: 20px; 
  padding-bottom: 20px;
}
a:link {
  color: tomato;
}
a:hover {
  color: steelblue;
}
a:visited {
  color: tomato;
}
.pagetitle {
  color: steelblue;
  text-align: center;
}
.header-panel {
  background-color: white;
  border: 1px lightgrey solid;
}
.text-primary {
  color: steelblue;
}

/* tab styles */
.tab-panel {
  border: 1px lightgrey solid;
}
.bottom-border {
  border-bottom: 1px lightgrey solid;
}
.panel-heading.tab {
  color: steelblue;
  background-color: whitesmoke;
}
.panel-heading > a {
  color: steelblue;
}
.panel-heading > span {
  color: steelblue;
}

/* welcome page styles */
.jumbotron {
  background-color: aliceblue;
}
.jumbo-header {
  color: steelblue;
}
.subheader {
  margin-left: 17px;
  color: grey;
}
.caption {
  text-align: center;
  color: grey;
}

/* people page styles */
.row.logos {
  text-align: center;
  padding: 20px;
}
.people-panel {
  border: 1px lightgrey solid;
}

/*publication page styles */
p.list {
font-size:47px;
color:lightgrey;
font-weight:bold;
font-style:italic;
}

/* axis styles */
.axis {
  font: 12px sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/*plot styles*/
.axis .domain {
  fill: none;
  stroke: #000;
  stroke-opacity: .3;
  stroke-width: 10px;
  stroke-linecap: round;
}

.axis .halo {
  fill: none;
  stroke: #ddd;
  stroke-width: 8px;
  stroke-linecap: round;
}

.slider .handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: .5;
  stroke-width: 1.25px;
}


/* tree styles */

.treetip {
  fill: "white";
  fill-opacity: 0.0;
  stroke-width: 0;
}

.leaf {
  fill-opacity: 0.8;
  stroke-width: 2;
}


.highlight {
  stroke: steelblue;
  fill: none;
  stroke-width: 4;
}

.link {
  fill: none;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.annoline {
  fill: none;
  stroke: lightgrey;
  stroke-dasharray: 3, 3;
  stroke-width: 2;
}

.annotext {
  stroke-width: 0;
}

.lengthbar {
  stroke: black;
  stroke: solid;
  stroke-width: 4;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.lengthbartext {
  stroke-width: 0;
}


/*spacers*/

.hugespacer {
  height: 50px;
}

.bigspacer {
  height: 30px;
}

.spacer {
  height: 10px;
}

.smallspacer {
  height: 5px;
}

/* genome styles */
.featurerect {
  fill-opacity: 0.5;
  stroke-width: 1;
  stroke:black;
  text-anchor:middle; 
}

