/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 60px;
  padding-bottom: 42px;
}

.navbar {
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 36px;
  padding-top: 6px;
  background-color: black;
  color: white;
}

.starter-template {
  text-align: center;
}

.indexthumbs {
  padding-top: 50px;
}

.introtext {
  font-size: 170%;
  text-align: justify;
  padding-top: 30px;
  padding-bottom: 30px;
}
