<!DOCTYPE HTML>
<html>
  <head>
   {% if title %}
    <title>{{title}} - Intrapatient HIV evolution</title>
    {% else %}
    <title>Intrapatient HIV evolution</title>
    {% endif %}
    {% block head_end %}{% endblock %}
  </head>
  <body>
   <div><a href="/">Intrapatient HIV evolution</a>:
    {% for section in sections %}
     {% if section.url %}
      <a href="{{section.url}}">{{section.name}}</a>
     {% else %}
      {{section.name}}
     {% endif %}
    {% endfor %}
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>
