<b>Notes:</b>
<ul>
    <li>The top panel shows single nucleotide polymorphism (SNP) frequencies through time. Color indicates position along the genome.</li>
    <li>The panel below shows SNP frequencies at each position for a given time point. The color of each point equals that of the corresponding trajectory in the top panel.</li>
    <li>The time point shown in the second panel can be chosen via the slider on top.</li>
    <li>Clicking on an annotated element of the genome will zoom into that element.</li>
</ul>
