<p><b>Data summary of patient {{pname}}:</b></p> 

The different tabs below allow to browse <br>
<ul>

<li>
<a data-toggle="collapse" href="#divDiv">
<span onclick="window.document.location='#diver';">genetic diversity and divergence</span>
</a>
</li>

<li>
<a data-toggle="collapse" href="#tree">
<span onclick="window.document.location='#phylo';">phylogenetic trees</span>
</a>
</li> 

<li>
<a data-toggle="collapse" href="#cov" >
<span onclick="window.document.location='#cover';">sequencing statistics</span>
</a>
</li>

<li>
<a data-toggle="collapse" href="#allFreq">
<span onclick="window.document.location='#snp';">dynamics of single nucleotide variants</span>
</a>
</li>

<li>
<a data-toggle="collapse" href="#haplo">
<span onclick="window.document.location='#types';">haplotypes</span>
</a>
</li>

</ul> 

Clinical and summary data of patient {{pname}} can be <a href="/data/">downloaded</a>.