<b>Notes:</b>
<ul>
 <!-- TODO: Jan Alberst does not understand following two points
  Comment: 
    I do not understand why the “estimated no. of RNA templates” vary between fragments. The same amount of RNA was used for all fragments. Estimates of RNA copies was done with limiting dilution for F4 only. Thus the number of RNA templates should be the same for all fragments. Or? Also we actually measure number of successfully extracted and reverse transcribed RNA molecules, i.e. cDNA molecules.
    I see the comment “RNA template counts are estimated from the consistency of single nucleotide variant frequencies in fragment overlaps”, but can this method be used if you have many, but identical templates, i.e. highly homogeneous virus populations short after infection?
    -->
 <li>RNA template counts are estimated from the consistency of single nucleotide variant frequencies in fragment overlaps</li>
 <li>Template counts are estimated separately for each fragment F1-F6</li>
 <li>These estimates are an indication of depth, but not an absolute quantification</li>
</ul>
