.d3-plot circle {
   fill: black;
}

.d3-plot circle:hover {
   fill: steelblue;
}

.d3-axis text {
  font: 14px sans-serif;
}

.d3-axis path,
.d3-axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}


.d3-title {
  font: 20px sans-serif;
  font-weight: bold;
}
