This web page and the data provided are part of a forthcoming publication:<p></p>
<p>
<i>Whole-genome deep sequencing of longitudinal HIV-1 samples from patients followed from early into chronic infection</i><br>
Fabio Zanini, Johanna Brodin, Lina Thebo, Christa Lanz, Jan Albert and Richard Neher. <b>submitted for publication</b></p>
<p></p>
The data provided cannot be used in publication until the final form of the above article appears. After that, please cite this article if you use the data. We would be grateful if you let us know when your work using this data gets published.

