.method-content
{
  position: relative;
  top: 0px; 
  bottom: 0px;
  left: 310px;
  right: 0px;
  max-width: 800px;
  text-align: center;
}
.method-sidebar
{
  padding-top: 70px;
  position: fixed;
  top: 0px;
  bottom: 0px;
  width: 310px; /* same as .method-content left */
  background-color: #fcfcfc;
  z-index: 900;
}

/* sidebar styles */
.sidebar-panel {
  width: 290px;
  text-align: left;
  border:1px lightgrey solid;
}
.panel-heading.side {
  color: dimgrey;
  background-color: whitesmoke;
  border-bottom: 1px lightgrey solid;
  text-align: center;
}
.list-group > a {
  color: indianred;
  background-color: white;
}
.list-group > a:hover {
  color: white;
  background-color: grey;
  border-color: lightgrey;
}
.list-group-item {
  border: 1px lightgrey solid;
}
.list-group-item.active {
  background-color: grey;
  color: white;
  border-color:lightgrey;
}
.list-group-item.active:hover {
  background-color:grey;
  border-color: lightgrey;
}
