{% extends "sidebar.html" %}
{% block head_end %}
{{ super() }}
<style>
.axis {
  font: 12px sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.axis .domain {
  fill: none;
  stroke: #000;
  stroke-opacity: .3;
  stroke-width: 10px;
  stroke-linecap: round;
}

.axis .halo {
  fill: none;
  stroke: #ddd;
  stroke-width: 8px;
  stroke-linecap: round;
}

.slider .handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: .5;
  stroke-width: 1.25px;
}
</style>
{% endblock %}
{% block content %}
<p class="text-explanation">
Mutations at different sites are present at different frequencies in the viral population. These frequencies change in time. Frequency changes are caused by depending on interactions with the host immune system and other selective pressures, by linkage and hitchhiking (genetic draft), and by genetic drift.
</p>
<hr>
<h5 id="plotTitle"></h5>
<hr>
<!-- PLOT -->
<div class="svg-container genome">
  <svg class="d3-plot" id="allFreqSvg" height="700"></svg>
</div>
<!-- PLOT -->

<!-- FORM -->
<div class="form-group form-inline" align="center">
  <label>Patient:</label>
  <select class="form-control formPatient">
    {% for patient in config['PATIENTS'] %}
      <option>{{patient}}</option>
    {% endfor %} 
  </select>
</div>
<!-- FORM -->

<!-- JS -->
<script src="/static/js/genome.js"></script>
<script type="text/javascript" src="/static/js/allele_frequencies.js"></script>
<script type="text/javascript">
function loadAlleleFrequencies(id, pname) {
  d3.json("/api/data/snp/"+pname+"/genomewide/sparse", function(error, snp) {
    d3.json("/api/data/referenceSequence/"+pname, function(error, genome) {
      d3.json("/api/data/numberTemplates/"+pname, function(error, nTemplates) {
        var data = snp;
        data['pname'] = pname;
        data['genome'] = genome;
        data['ntemplates'] = nTemplates;
        // DOM manipulations
        $('#plotTitle').html("\<b\>Patient "+pname+"\</b\>");
        updateAlleleFrequencies(id, data);
      });    
    });  
  });
}

loadAlleleFrequencies("allFreqSvg", $('.formPatient option:selected').val());
</script>

<!-- jquery event handling for selections -->
<script>
$('select.formPatient').on('change', function(){
  var patient = $('.formPatient option:selected').val();
  emptyAlleleFrequencies("allFreqSvg");
  loadAlleleFrequencies("allFreqSvg", patient);
});
</script>
{% endblock %}
