{% extends "sidebar.html" %}
{% block content %}
 
 {% if show_intro %}
 <p class="text-explanation">
   Consensus sequences track the evolution of HIV in terms of major variants.
  </p>
  <hr>
 {% endif %}
 <form role="form" action="" method="post" name="consensi_settings" class="form-horizontal">
  {{form.hidden_tag()}}
  <div class="form-group">
   {{form.patient.label}} {{form.patient}}
  </div>
  <div class="form-group">
   {{form.region.label}} {{form.region}}
  </div>
  <button type="submit" class="btn btn-default">Download sequences</button>
 </form>
{% endblock %}
