{% extends "sidebar.html" %}
{% block head_end %}
{{ super() }}
<style>

.axis {
  font: 12px sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.axis .domain {
  fill: none;
  stroke: #000;
  stroke-opacity: .3;
  stroke-width: 10px;
  stroke-linecap: round;
}

.axis .halo {
  fill: none;
  stroke: #ddd;
  stroke-width: 8px;
  stroke-linecap: round;
}

.slider .handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: .5;
  stroke-width: 1.25px;
}

</style>
<script src="/static/js/genome.js"></script>
<script type="text/javascript" src="/static/js/coverage.js"></script>
<script type="text/javascript">
  function load_single(id, pname, callback) {
   d3.xhr("{{ url_for('.coverage') }}")
    .header("Content-Type", "application/json")
    .post(
      JSON.stringify({patient: pname}),
      function(error, request) {
       var data = JSON.parse(request.responseText);

       d3.xhr("{{ url_for('.genomes') }}")
       .header("Content-Type", "application/json")
       .post(
         JSON.stringify({patient: pname}),
         function(error, request) {
          var data_gn = JSON.parse(request.responseText);

	  d3.xhr("{{ url_for('.n_templates') }}")
	   .header("Content-Type", "application/json")
	   .post(
             JSON.stringify({patient: pname}),
             function(error, request) {
              var data_ntemplates = JSON.parse(request.responseText);

	      // This is not totally safe, but ok for now
	      data = data.data;
	      data.genome = data_gn.data;
	      data.ntemplates = data_ntemplates.data.ntemplates;
	      callback(id, data);
	   });
        });
     });
  }

 function load() {
  load_single("coverageSvg{{data.id}}", "{{data.pname}}", updateCoverage);
 }
</script>
{% endblock %}
{% block body_attributes %}onload="load()"{% endblock %}
{% block content %}
 
 {% if show_intro %}
  <p class="text-explanation">
   Coverage indicates how many times each base in the genome was sequenced. The reciprocal value is the maximal sequencing depth, but the total depth is often limited by the number of HIV molecules in the plasma samples or by the error rate of the PCR polymerase.
  </p>
  <hr>
 {% endif %}
  <h5><b>Dataset {{data.name}}</b></h5>
  <hr>
  <div class="svg-container genome">
   <svg class="d3-plot" id="coverageSvg{{data.id}}" height="600"></svg>
  </div>

  <p class="text-explanation">
  <b>Legend</b>: the red bar is the estimate of the number of template molecules to PCR (if available). Coverage beyond this level is mostly oversequencing.
  </p>

 <form role="form" action="" method="post" name="coverage_settings" class="form-inline">
  {{form.hidden_tag()}}
  <div class="form-group">
   {{form.patient.label}}
   {{form.patient}}
  </div>
  <button type="submit" class="btn btn-default">Plot</button>
  </form>
 </div>
{% endblock %}

