{% extends "plots.html" %}
{% block head_end %}
{{ super() }}
<style>

.axis {
  font: 12px sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.axis .domain {
  fill: none;
  stroke: #000;
  stroke-opacity: .3;
  stroke-width: 10px;
  stroke-linecap: round;
}

.axis .halo {
  fill: none;
  stroke: #ddd;
  stroke-width: 8px;
  stroke-linecap: round;
}

.slider .handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: .5;
  stroke-width: 1.25px;
}

</style>
<script type="text/javascript" src="/static/js/divdiv_local.js"></script>
<script type="text/javascript">
  function load_single(id, pname) {
   d3.xhr("{{ url_for('.divdiv_local') }}")
    .header("Content-Type", "application/json")
    .post(
      JSON.stringify({patient: pname}),
      function(error, request) {
       var data_dd = JSON.parse(request.responseText);

       d3.xhr("{{ url_for('.genomes') }}")
       .header("Content-Type", "application/json")
       .post(
         JSON.stringify({patient: pname}),
         function(error, request) {
          var data_gn = JSON.parse(request.responseText);
	  var data = {"divdiv": data_dd.data, "genome": data_gn.data};
	  update(data, id);
         }
       );

      }
   );
  }

 function load() {
  load_single("{{data.id}}", "{{data.pname}}");
 }
</script>
{% endblock %}
{% block body_attributes %}onload="load()"{% endblock %}
{% block content %}
 <h1>{{section_name}}</h1>
 {% if show_intro %}
  <h4>
   Local divergence and local diversity offer a useful overview on the evlutionary rates in different parts of the HIV genome.
  </h4>
 {% endif %}
 <h3>{{data.name}}</h3>
 <div class="svg-container">
  <svg class="d3-plot {{data.id}}"></svg>
 </div>

 <form role="form" action="" method="post" name="divdiv_local_settings" class="form-inline">
  {{form.hidden_tag()}}
  <div class="form-group">
   {{form.patient.label}} {{form.patient}}
  </div>
  <button type="submit" class="btn btn-default">Plot</button>
  </form>
 </div>
{% endblock %}


