{% extends "sidebar.html" %}
{% block content %}
<p class="text-explanation">
Genetic divergence measures the fraction of genetic sites that have mutated in the viral population from the initial virus. Diversity indicates the fraction of mutated sites within a single viral population.
</p>
<hr>
<h5 id="plotTitle"></h5>
<hr>
<!-- PLOT -->
<div class="svg-container">
  <svg class="d3-plot" id="divdivSvg"></svg>
</div> 
<!-- PLOT -->

<!-- FORM -->
<div class="form-group form-inline" align="center" style="padding-top: 20px;">
  <label>Patient:</label>
  <select class="form-control formPatient">
    {% for patient in config['PATIENTS'] %}
      <option>{{patient}}</option>
    {% endfor %} 
  </select>

  <label>Region:</label>
  <select class="form-control formRegion">
    {% for region in config['REGIONS_SNP'] %}
      {% if region == 'p17' %}
        <option selected="selected">{{region}}</option>
      {% else %}
        <option>{{region}}</option>
      {% endif %}
    {% endfor %} 
  </select>
</div>
<!-- FORM -->

<!-- JS -->
<script type="text/javascript" src="/static/js/divdiv.js"></script>
<script type="text/javascript">
function loadDivDiv(id, pname, region) {
  d3.json("/api/data/divdiv/"+pname+"/"+region, function(error, divdiv) {
    // DOM manipulations
    $('#plotTitle').html("\<b\>Patient "+pname+", region "+region+"\</b\>");
    updateDivDiv(id, divdiv);  
  });
}

loadDivDiv("divdivSvg",
    $('.formPatient option:selected').val(),
    $('.formRegion option:selected').val());
</script>

<!-- jquery event handling for selections -->
<script>
$('select.formPatient, select.formRegion').on('change', function(){
  var patient = $('.formPatient option:selected').val();
  var region = $('.formRegion option:selected').val();
  emptyDivDiv("divdivSvg");
  loadDivDiv("divdivSvg", patient, region);
});
</script>
{% endblock %}

