{% extends "sidebar.html" %}
{% block head_end %}
{{ super() }}
<style>
.axis {
  font: 12px sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.axis .domain {
  fill: none;
  stroke: #000;
  stroke-opacity: .3;
  stroke-width: 10px;
  stroke-linecap: round;
}

.axis .halo {
  fill: none;
  stroke: #ddd;
  stroke-width: 8px;
  stroke-linecap: round;
}

.slider .handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: .5;
  stroke-width: 1.25px;
}
</style>
{% endblock %}
{% block content %}
<p class="text-explanation">
Local divergence and local diversity offer a useful overview on the evolutionary rates in different parts of the HIV genome.
</p>
<hr>
<h5 id="plotTitle"></h5>
<hr>

<!-- PLOT -->
<div class="svg-container genome">
  <svg class="d3-plot" id="divDivLocalSvg"></svg>
</div>
<!-- PLOT -->
<!-- FORM -->
<div class="form-group form-inline" align="center">
  <label>Patient:</label>
  <select class="form-control formPatient">
    {% for patient in config['PATIENTS'] %}
      <option>{{patient}}</option>
    {% endfor %} 
  </select>
</div>
<!-- FORM -->

 <!-- JS -->
<script src="/static/js/genome.js"></script>
<script type="text/javascript" src="/static/js/divdiv_local.js"></script>
<script type="text/javascript">
function loadDivDivLocal(id, pname) {
  d3.json("/api/data/divdivSliding/"+pname, function(error, divdiv) {
    d3.json("/api/data/referenceSequence/"+pname, function(error, genome) {
      var data = {
        'genome': genome,
        'divdiv': divdiv,
        'pname': pname,
      };
      // DOM manipulations
      $('#plotTitle').html("\<b\>Patient "+pname+"\</b\>");
      updateDivDivLocal(id, data);
    });
  });
}

loadDivDivLocal("divDivLocalSvg", $('.formPatient option:selected').val());
</script>

<!-- jquery event handling for selections -->
<script>
$('select.formPatient').on('change', function(){
  var patient = $('.formPatient option:selected').val();
  emptyDivDivLocal("divDivLocalSvg");
  loadDivDivLocal("divDivLocalSvg", patient);
});
</script>

{% endblock %}
