{% extends "sidebar.html" %}
{% block content %}
<p class="text-explanation">
The HIV genome is annotated with genes, proteins, and RNA structures. The PCR fragments used for RNA amplification are also shown.
</p>
<hr>
<h5 id="plotTitle"></h5>
<hr>
<!-- PLOT -->
<div>
  <svg class="d3-plot" id="genomeSvg"></svg>
</div> 
<!-- PLOT -->
<br>
<div class="text-explanation">
  <b>Note</b>: Genome coordinates are inclusive at both ends and start from 1.
</div>

<!-- DOWNLOAD -->
<div class="btn-pad">
  <a role="button" class="btn btn-default" id="downloadGenome">Download annotated sequence</a>
</div>
<!-- DOWNLOAD -->

<!-- FORM -->
<div class="form-group form-inline" align="center">
  <label>Patient:</label>
  <select class="form-control formPatient">
    {% for patient in config['PATIENTS'] %}
      <option>{{patient}}</option>
    {% endfor %} 
  </select>
</div>
<!-- FORM -->

<script type="text/javascript" src="/static/js/genome.js"></script>
<script type="text/javascript">
function loadGenome(id, pname) {
  d3.json("/api/data/referenceSequence/"+pname, function(error, genome) {
    var data = {
      'genome': genome,
      'pname': pname,
    };
    // DOM manipulations
    $('#plotTitle').html("\<b\>Patient "+pname+"\</b\>");
    $('a#downloadGenome').attr("href", "/download/genome_"+pname+".gb");
    updateGenome(id, data);  
  });
}

loadGenome("genomeSvg", $('.formPatient option:selected').val());
</script>

<!-- jquery event handling for selections -->
<script>
$('select.formPatient').on('change', function(){
  var patient = $('.formPatient option:selected').val();
  emptyGenome("genomeSvg");
  loadGenome("genomeSvg", patient);
});
</script>

{% endblock %}
