{% extends "plots.html" %}
{% block head_end %}
{{ super() }}
<script type="text/javascript" src="/static/js/genome.js"></script>
<script type="text/javascript">
 function loadGenome(id, pname, callback) {
     d3.xhr("{{ url_for('.genomes') }}")
    .header("Content-Type", "application/json")
    .post(
      JSON.stringify({patient: pname}),
      function(error, request) {
       var data = JSON.parse(request.responseText);
       data = {id: id, pname: pname, genome: data.data};
       callback(data);
      }
   );
 }

 function load() {
  loadGenome("{{data.id}}", "{{data.pname}}", updateGenome);
 }
</script>
{% endblock %}
{% block body_attributes %}onload="load()"{% endblock %}
{% block content %}
 <h1>{{section_name}}</h1>
 {% if show_intro %}
  <h4>
   The HIV genome is annotated with genes, proteins, and RNA structures. The PCR fragments used for RNA amplification are also shown.
  </h4>
 {% endif %}
 <h3>{{data.name}}</h3>
  <div class="svg-container">
   <svg class="d3-plot {{data.id}}"></svg>
  </div> 
 <br>
 <div>
 <b>Note</b>: Genome coordinates are inclusive at both ends and start from 1.
 </div>
 
 <div class="btn-pad">
  <a role="button" class="btn btn-default" href="/download/genome_{{data.pname}}.gb">Download annotated sequence</a>
 </div>

 <form role="form" action="" method="post" name="genome_settings" class="form-inline">
  {{form.hidden_tag()}}
  <div class="form-group">
   {{form.patient.label}} {{form.patient}}
  </div>
  <button type="submit" class="btn btn-default">Plot</button>
 </form>
{% endblock %}
