{% extends "base.html" %}
{% block contentwrapper %}
      <!-- flashed messages -->
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <div class="alert alert-danger" role="alert">
        {% for message in messages %}
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error: </span>{{ message }}
        {% endfor %}
      </div>
      {% endif %}
      {% endwith %}
      <!-- end flashed messages -->
      <!-- main content -->
      <div class="centered">
        {% block content %}{% endblock %}
      </div>
      <!-- end main content -->
{% endblock %}
