{% extends "plots.html" %}
{% block head_end %}
{{ super() }}
<script type="text/javascript" src="/static/js/physio.js"></script>
<script type="text/javascript">
  function load_single(id, pname, callback) {
   d3.xhr("{{ url_for('.physio') }}")
    .header("Content-Type", "application/json")
    .post(
      JSON.stringify({patient: pname}),
      function(error, request) {
       var data = JSON.parse(request.responseText);
       callback(id, data.data);
      }
   );
  }

 function load() {
  load_single("svg{{data.id}}", "{{data.pname}}", updatePhysio);
 }
</script>
{% endblock %}
{% block body_attributes %}onload="load()"{% endblock %}
{% block content %}
 <h1>{{section_name}}</h1>
 {% if show_intro %}
  <h4>
   The most relevant physiological parameters for HIV infection are viral load and CD4+ counts in the patient blood. Lower viral loads and higher CD4+ counts are generally assciated with better clinical outcome.
  </h4>
 {% endif %}
 <h3>{{data.name}}</h3>
 <div>
  <svg class="d3-plot" id="svg{{data.id}}"></svg>
 </div> 
 
 <div class="btn-group btn-pad">
 <a role="button" class="btn btn-default" href="/download/physio_vl_{{data.pname}}.dat">Download viral load</a>
 <a role="button" class="btn btn-default" href="/download/physio_cc_{{data.pname}}.dat">Download cell counts</a>
 </div>

 <form role="form" action="" method="post" name="physio_settings" class="form-inline">
  {{form.hidden_tag()}}
  <div class="form-group">
   {{form.patient.label}} {{form.patient}}
  </div>
  <button type="submit" class="btn btn-default">Plot</button>
 </form>
{% endblock %}
