{% extends "sidebar.html" %}
{% block content %}
{% include "snippets/physio.html" %}
<hr>
<h5 id="plotTitle"></h5>
<hr>
<!-- PLOT -->
<div>
  <svg class="d3-plot" id="physioSvg"></svg>
</div> 
<!-- PLOT -->
<!-- DOWNLOAD -->
<div class="btn-group btn-pad">
  <a role="button" class="btn btn-default" id="downloadVL">Download viral load</a>
  <a role="button" class="btn btn-default" id="downloadCC">Download cell counts</a>
</div>
<!-- DOWNLOAD -->
<!-- FORM -->
<div class="form-group form-inline" align="center">
  <label>Patient:</label>
  <select class="form-control formPatient">
    {% for patient in config['PATIENTS'] %}
    <option>{{patient}}</option>
    {% endfor %} 
  </select>
</div>
<!-- FORM -->

<!-- JS -->
<script type="text/javascript" src="/static/js/physio.js"></script>
<script type="text/javascript">
function loadPhysio(id, pname) {
  d3.json("/api/data/physiological/"+pname, function(error, physio) {
    // DOM manipulations
    $('#plotTitle').html("\<b\>Patient "+pname+"\</b\>");
    $('a#downloadVL').attr("href", "/download/viralLoad_"+pname+".tsv");
    $('a#downloadCC').attr("href", "/download/cellCount_"+pname+".tsv");
    updatePhysio(id, physio);
  });
}

loadPhysio("physioSvg", $('.formPatient option:selected').val());
</script>

<!-- jquery event handling for selections -->
<script>
$('select.formPatient').on('change', function(){
  var patient = $('.formPatient option:selected').val();
  emptyPhysio("physioSvg");
  loadPhysio("physioSvg", patient);
});
</script>

{% endblock %}
