{% extends "base.html" %}
{% block head_end %}
{{ super() }}
<link href="../static/css/method.css" rel="stylesheet">
{% endblock %}

{% block contentwrapper %}
<div class="container">

  <!-- sidebar -->
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 method-sidebar">
    <div class="panel sidebar-panel">
      <div class="panel-heading side">
        <span class="glyphicon glyphicon-book"></span> Analyses
      </div>
      <div class="list-group">
        {% for section in config.BLUEPRINTS.METHOD.SECTIONS %}
        {% if section.url %}
        {% if section_name == section.name %}
        <a href="/method{{section.url}}" class="list-group-item active">
          <img width="20" src="{{section.thumbnail_white}}" alt="{{section.name}}"> {{section.name}}
        </a>
        {% else %}
        <a href="/method{{section.url}}" class="list-group-item">
          <img width="20" src="{{section.thumbnail}}" alt="{{section.name}}"> {{section.name}}
        </a>
        {% endif %}
        {% endif %}
        {% endfor %}
      </div> 
    </div>
  </div>
  <div class="clearfix visible-xs-block"></div>

  <!-- content -->
  <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 method-content">
    <div class="panel header-panel">
      <div class="panel-body">
      <h4 class="pagetitle">{{section_name}}</h4>
      </div>
    </div>    
    <div class="panel panel-default">
      <div class="panel-body">
        {% block content %}{% endblock %}
      </div>  
    </div>

  </div>
  <!-- end main content -->
</div> 


{% endblock %}

