<!-- Maybe inheriting directly from base.html would be better -->
{% extends "no-sidebar.html" %}
{% block contentwrapper %}
<div class="container-fluid">
 <div class="row">
  <div class="col-sm-4 col-md-3 sidebar">
   <ul class="nav nav-sidebar affix">
    {% for section in config.BLUEPRINTS.METHOD.SECTIONS %}{% if section.url %}{% if section_name == section.name %}
    <li class="active"><a href="/method{{section.url}}"><img width="20" src="{{section.thumbnail_white}}" alt="{{section.name}}"> {{section.name}}</a></li>
    {% else %}
    <li><a href="/method{{section.url}}"><img width="20" src="{{section.thumbnail_white}}" alt="{{section.name}}"> {{section.name}}</a></li>
    {% endif %}{% endif %}{% endfor %}
   </ul>
  </div>
  <div class="col-sm-6 col-sm-offset-4 col-md-9 col-md-offset-0 main">
  <!-- see above for inheritance from base as an alternative -->
  {{ super() }}
  </div> 
 </div> 
</div>
{% endblock %}

{% block footerwrapper %}
<div class="footer navbar-fixed-bottom">
 <div class="container-fluid">
  <ul class="nav navbar-nav">
   <li class="text-muted hidden-xs" id="sidebar-toggle">Toggle sidebar</li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
   <li class="text-muted">Fabio Zanini, Richard Neher, <i>et al.</i>, 2014.</li>
  </ul>
 </div>
</div>

<!-- Toggle sidebar button -->
<script type="text/javascript">
$("#sidebar-toggle").click(function(e) {
      e.preventDefault();
      // FIXME: we'd need a more robust mechanism here, but replotting is not very
      // flexible and the sidebar is memoryless for now. We could make it stateful
      // by including it in every GET/POST request, but it's cumbersome and should
      // probably be done by cookies instead.
      $(".sidebar").toggleClass("toggled");
      $(".main").toggleClass("toggled");
  });
</script>
{% endblock %}
