<!-- Maybe inheriting directly from base.html would be better -->
{% extends "base.html" %}
{% block head_end %}
{{ super() }}
<link href="../static/css/method.css" rel="stylesheet">
{% endblock %}

{% block contentwrapper %}
<div class="container-fluid">

  <!-- sidebar -->
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 method-sidebar">
    <div class="panel sidebar-panel">
      <div class="panel-heading side">
        <span class="glyphicon glyphicon-zoom-in"></span> Analyses
      </div>
      <div class="list-group">
        {% for section in config.BLUEPRINTS.METHOD.SECTIONS %}
        {% if section.url %}
        {% if section_name == section.name %}
        <a href="/method{{section.url}}" class="list-group-item active">
          <img width="20" src="{{section.thumbnail_white}}" alt="{{section.name}}"> {{section.name}}
        </a>
        {% else %}
        <a href="/method{{section.url}}" class="list-group-item">
          <img width="20" src="{{section.thumbnail_white}}" alt="{{section.name}}"> {{section.name}}
        </a>
        {% endif %}
        {% endif %}
        {% endfor %}
      </div> 
    </div>
  </div>
  <div class="clearfix visible-xs-block"></div>

  <!-- content -->
  <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 method-content">
    {% block content %}{% endblock %}
  </div>
  <!-- end main content -->
</div> 


{% endblock %}

