{% extends "sidebar.html" %}
{% block content %}
 {% if show_intro %}
  <p class="text-explanation">
   Phylogenetic trees give a general idea on how similar sequences are. Here we plot trees from consensus sequences from different time points, patients, and parts of the genome. You can specify which trees to display at the bottom of the page.
  </p>
  <hr>
 {% endif %}
 <h5 id="plotTitle"></h5>
 <hr>
 <div class="col-xs-8 col-sm-6">
  <span>Representation:</span>
  <div class="btn-group btn-pad">
   <button class="btn btn-default" type="radio" name="plotType" id="switchRadial" autocomplete="off">Radial</button>
   <button class="btn btn-default active" type="radio" name="plotType" id="switchRectangular" autocomplete="off">Horizontal</label>
  </div>
 </div>
 <div class="col-xs-8 col-sm-6">
  <span>Link color:</span>
  <div class="btn-group btn-pad" id="buttonGroupTreeColor">
   <button class="btn btn-default active" type="radio" name="plotColorLink" id="switchColorLinkBlack" autocomplete="off">Black</button>
   <button class="btn btn-default" type="radio" name="plotColorLink" id="switchColorLinkDate" autocomplete="off">Date</label>
   <button class="btn btn-default" type="radio" name="plotColorLink" id="switchColorLinkSubtype" autocomplete="off">Subtype</label>
   <button class="btn btn-default" type="radio" name="plotColorLink" id="switchColorLinkPatient" autocomplete="off">Patient</label>
  </div>
 </div>
 <div>
  <svg id='treeSvg'></svg>
 </div>
 <br>
 <p class="text-explanation">
   <b>Note</b>: if a color map is used, colors range from blue to red with increasing numbers.
 </p>
 <div class="btn-pad">
  <a role="button" class="btn btn-default" id="downloadTree">Download tree</a>
 </div>
 
<!-- FORM -->
<div class="form-group form-inline" align="center">
  <label>Patient:</label>
  <select class="form-control formPatient">
    {% for patient in ["all"] + config['PATIENTS'] %}
    {% if patient == 'all' %}
    <option selected="selected">{{patient}}</option>
    {% else %}
    <option>{{patient}}</option>
    {% endif %}
    {% endfor %} 
  </select>

  <label>Region:</label>
  <select class="form-control formRegion">
    {% for region in config['REGIONS_TREE'] %}
    {% if region == 'p17' %}
    <option selected="selected">{{region}}</option>
    {% else %}
    <option>{{region}}</option>
    {% endif %}
    {% endfor %} 
  </select>
</div>
<!-- FORM -->

<!-- JS -->
<script type="text/javascript" src="/static/js/trees.js"></script>
<script type="text/javascript">
function loadTree(id, pname, region) {
  d3.json("/api/data/tree/"+pname+"/"+region, function(error, tree) {
    var data = {
      'tree': tree,
      'pname': pname,
      'region': region,
      'leafLabels': false,
    };
    // DOM manipulations
    $('#plotTitle').html("\<b\>Patient "+pname+", region "+region+"\</b\>");
    $('a#downloadTree').attr("href", "/download/tree_"+pname+"_"+region+".json");
    if (pname == 'all') {
      $('button#switchColorLinkDate').hide();
      $('button#switchColorLinkSubtype').show();
      $('button#switchColorLinkPatient').show();
      if ($('#switchColorLinkDate').hasClass('active')) {
        $('#switchColorLinkDate').removeClass('active');
        $('#switchColorLinkBlack').addClass('active');
      }
    } else {
      $('button#switchColorLinkDate').show();
      $('button#switchColorLinkSubtype').hide();
      $('button#switchColorLinkPatient').hide();
      if ($('#switchColorLinkSubtype').hasClass('active')) {
        $('#switchColorLinkSubtype').removeClass('active');
        $('#switchColorLinkBlack').addClass('active');
      } else if ($('#switchColorLinkPatient').hasClass('active')) {
        $('#switchColorLinkPatient').removeClass('active');
        $('#switchColorLinkBlack').addClass('active');
      }
    }
    updateTree(id, data);
  });
}

loadTree("treeSvg",
    $('.formPatient option:selected').val(),
    $('.formRegion option:selected').val());
</script>

<script>
// Manual implementation of the radio buttons in jQuery, since the bootstrap default is broken
//NOTE: this is not optimal, as in different situations we want to show some button or not.
// One would need a frontend JS framework for this.
$('#switchRectangular').on('click', function () {
  $('#switchRadial').removeClass('active');
  $(this).addClass('active');
  updateTree("treeSvg", {'leafLabels': false});
});
$('#switchRadial').on('click', function () {
  $('#switchRectangular').removeClass('active');
  $(this).addClass('active');
  updateTree("treeSvg", {'leafLabels': false});
});
$('#switchColorLinkBlack').on('click', function () {
  $('#switchColorLinkDate').removeClass('active');
  $('#switchColorLinkSubtype').removeClass('active');
  $('#switchColorLinkPatient').removeClass('active');
  $(this).addClass('active');
  updateTree("treeSvg", {'leafLabels': false});
});
$('#switchColorLinkDate').on('click', function () {
  $('#switchColorLinkBlack').removeClass('active');
  $('#switchColorLinkSubtype').removeClass('active');
  $('#switchColorLinkPatient').removeClass('active');
  $(this).addClass('active');
  updateTree("treeSvg", {'leafLabels': false});
});
$('#switchColorLinkSubtype').on('click', function () {
  $('#switchColorLinkBlack').removeClass('active');
  $('#switchColorLinkDate').removeClass('active');
  $('#switchColorLinkPatient').removeClass('active');
  $(this).addClass('active');
  updateTree("treeSvg", {'leafLabels': false});
});
$('#switchColorLinkPatient').on('click', function () {
  $('#switchColorLinkBlack').removeClass('active');
  $('#switchColorLinkSubtype').removeClass('active');
  $('#switchColorLinkDate').removeClass('active');
  $(this).addClass('active');
  updateTree("treeSvg", {'leafLabels': false});
});
</script>

<!-- jquery event handling for selections -->
<script>
$('select.formPatient, select.formRegion').on('change', function(){
  var patient = $('.formPatient option:selected').val();
  var region = $('.formRegion option:selected').val();
  loadTree("treeSvg", patient, region);
});
</script>

{% endblock %}
