{% extends "patientPlots.html" %}
{% block content %}

<div class="container-fluid" style="padding:20px">

<!-- sidebar -->
<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">

  <div class="panel panel-default" style="width:110px; text-align:center">
		<div class="panel-heading">
      <b class="text-primary"><span class="glyphicon glyphicon-user"></span> Patients</b>
    </div>
		<div class="list-group">
        {% for ptmp in pnames %}
        {% if ptmp == pname and ptmp!='p4'%} <!-- exclude p4 -->
	      <a href="/patient/{{ptmp}}" class="list-group-item active">{{ptmp}}</a>
        {% elif ptmp!='p4' %} <!-- exclude p4 -->
        <a href="/patient/{{ptmp}}" class="list-group-item">{{ptmp}}</a>
        {% endif %}
        {% endfor %}
    </div> 
  </div>

</div>

<div class="clearfix visible-xs"></div>

<!-- patient content -->
<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">

  <!-- header -->
  <div class="panel panel-default">
    <div class="panel-body text-primary" style="text-align:center">
      <h4><span class="glyphicon glyphicon-user"></span> <b>{{pname}}</b></h4>
    </div>
  </div>
  <!-- already expanded panels --> 
  <div class="panel-group">
    <!-- Intro -->
    <div class="panel panel-default">
      <div class="panel-heading"> 
      <span class="text-primary glyphicon glyphicon-question-sign"></span> &nbsp;<a data-toggle="collapse" href="#Intro">Introduction</a>
      </div>
      <div id="Intro" class="panel-collapse collapse in">
        <div class="panel-body" style="text-align:justify">
        <!-- Intro text -->  
		        <b>Data summary of {{pname}}:</b> The different tabs below allow to browse clinical data, summary statistics such as <a href="#divdiv">genetic diversity and divergence</a>, <a href="#tree">phylogenetic trees</a>, <a href="#cov">sequencing statistics</a>, as well as the <a href="#allFreq">dynamics of single nucleotide variants</a>. The <a href="#haplo">last tab</a> provides access haplotypes from any region of the HIV genome at all time points.   
        </div>
      </div>
    </div>
    <!-- Summary -->
    <div class="panel panel-default">
      <div class="panel-heading"> 
      <span class="text-primary text-primary glyphicon glyphicon-info-sign"></span> &nbsp;<a data-toggle="collapse" href="#Sum">Summary</a>
      </div>
    <div id="Sum" class="panel-collapse collapse in">
      <div class="panel-body">
      <!-- Summary content -->
        <div class="row">
		      <div class="col-xs-6">
            <!-- div 1 -->
            <dl class="dl-horizontal">
              {% for row in patientTable %}
              {% if row['Patient'] == pname %}
              <dt>subtype</dt><dd>{{row['Subtype']}}</dd>
              <dt>&#35; samples</dt><dd>{{row['# samples']}}</dd>
              <dt>1st sample [days]</dt><dd>{{row['1st sample']}}</dd>
              <dt>last sample [days]</dt><dd>{{row['last sample']}}</dd>
              {% endif %}
              {% endfor %}
            </dl>      
          </div>
	  <div class="col-xs-6">
            <svg id='treeSvg{{pname}}Sum'></svg>
          </div>
        </div>
      </div>
    </div>
   </div>    
   <!-- expand nav -->
   <div class="panel panel-default"> 
      <div class="panel-heading">
         <img width="18" src="../../static/images/icons/viral_load.svg"> 
         <a data-toggle="collapse" data-parent="#expand" href="#viral">Viral load and CD4+ counts</a>
      </div>
      <div id="viral" class="panel-collapse collapse in">
        <div class="panel-body">
          <svg class="d3-plot" id="physioSvg{{pname}}"></svg>
        </div>
      </div>
    </div>
    <div class="panel panel-default"> 
      <div class="panel-heading">
        <img width="18" src="../../static/images/icons/genome.svg"> 
        <a data-toggle="collapse" data-parent="#expand" href="#genome">Genome sequence</a>
      </div>
      <div id="genome" class="panel-collapse collapse in">
        <div class="panel-body">
          <svg class="d3-plot" id="genomeSvg{{pname}}"></svg>
        </div>
      </div>
    </div>
    <div class="panel panel-default"> 
      <div class="panel-heading">
        <img width="18" src="../../static/images/icons/tree.svg"> 
        <a data-toggle="collapse" data-parent="#expand" href="#tree">Phylogenetic trees</a>
      </div>
      <div id="tree" class="panel-collapse collapse">
        <div class="panel-body">
          <div style="padding-bottom:20px">
            <svg class="d3-plot" id='treeSvg{{pname}}'></svg>
          </div>
          <div class="form-group form-inline" align="center">
           <label>Region:</label>
           <select class="form-control treeRegion">
             {% for region in treeRegions %}
              <option>{{region}}</option>
             {% endfor %} 
           </select>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default"> 
      <div class="panel-heading">
         <img width="18" src="../../static/images/icons/diversity.svg">
         <a data-toggle="collapse" data-parent="#expand" href="#divDiv">Genetic divergence and diversity</a>
      </div>
      <div id="divDiv" class="panel-collapse collapse">
        <div class="panel-body">
          <div style="padding-bottom:20px">
            <svg class="d3-plot" id='divDivSvg{{pname}}'></svg>
          </div>
          <div class="form-group form-inline" align="center">
           <label>Region:</label>
           <select class="form-control divDivRegion">
             {% for region in divDivRegions %}
              <option>{{region}}</option>
             {% endfor %} 
           </select>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default"> 
      <div class="panel-heading">
         <img width="18" src="../../static/images/icons/divdiv_local.svg">
         <a data-toggle="collapse" data-parent="#expand" href="#divDivLocal">Local divergence and diversity</a>
       </div>
      <div id="divDivLocal" class="panel-collapse collapse">
        <div class="panel-body">
          <svg class="d3-plot" id='divDivLocalSvg{{pname}}'></svg>
        </div>
      </div>
    </div>
    <div class="panel panel-default"> 
      <div class="panel-heading">
         <img width="18" src="../../static/images/icons/coverage.svg">
         <a data-toggle="collapse" data-parent="#expand" href="#cov">Coverage</a>
       </div>
      <div id="cov" class="panel-collapse collapse">
        <div class="panel-body">
          <svg class="d3-plot" id='coverageSvg{{pname}}' height="600"></svg>
        </div>
      </div>
    </div>
    <div class="panel panel-default"> 
      <div class="panel-heading">
         <img width="18" src="../../static/images/icons/allele_frequencies.svg">
         <a data-toggle="collapse" data-parent="#expand" href="#allFreq">Allele frequencies</a>
       </div>
      <div id="allFreq" class="panel-collapse collapse">
        <div class="panel-body">
          <svg class="d3-plot" id='allFreqSvg{{pname}}' height="700"></svg>
        </div>
      </div>
    </div>
    <div class="panel panel-default"> 
      <div class="panel-heading">
        <img width="18" src="../../static/images/icons/consensi.svg"> 
        <a data-toggle="collapse" data-parent="#expand" href="#consensus">Consensus sequences</a>
      </div>
      <div id="consensus" class="panel-collapse collapse">
        <div class="panel-body">
          consensus sequences
        </div>
      </div>
    </div>
    <div class="panel panel-default"> 
      <div class="panel-heading">
         <img width="18" src="../../static/images/icons/haplotype_frequencies.svg">
         <a data-toggle="collapse" data-parent="#expand" href="#haplo">Local haplotypes</a>
        </div>
      <div id="haplo" class="panel-collapse collapse">
        <div class="panel-body">
          local haplotypes
        </div>
      </div>
    </div>
  </div>
</div>

</div>

<!-- Scripts at the end of page load -->
<script type="text/javascript" src="/static/js/physio.js"></script>
<script type="text/javascript">
function loadPhysio(id, pname) {
 d3.xhr("/method/physiological/")
  .header("Content-Type", "application/json")
  .post(
    JSON.stringify({patient: pname}),
    function(error, request) {
     var data = JSON.parse(request.responseText);
     updatePhysio(id, data.data);
    }
 );
}
</script>

<script type="text/javascript" src="/static/js/genome.js"></script>
<script type="text/javascript">
function loadGenome(id, pname) {
    d3.xhr("/method/genomes/")
   .header("Content-Type", "application/json")
   .post(
     JSON.stringify({patient: pname}),
     function(error, request) {
      var data = JSON.parse(request.responseText);
      data = {pname: pname, genome: data.data};
      updateGenome(id, data);
     }
  );
}
</script>

<script type="text/javascript" src="/static/js/trees.js"></script>
<script type="text/javascript">
function loadTree(id, pname, region) {
 d3.xhr("/method/trees/")
  .header("Content-Type", "application/json")
  .post(
    JSON.stringify({patient: pname, region: region, treeFormat: "json"}),
    function(error, request) {
     var data = JSON.parse(request.responseText);
     d3.json(data.tree, function(error, tree) {
      data.pname = pname;
      data.region = region;
      data.tree = tree;      
      updateTree(id, data);
     });     
    });
}
</script>

<script type="text/javascript" src="/static/js/divdiv.js"></script>
<script type="text/javascript">
function loadDivDiv(id, pname, region) {
 d3.xhr("/method/divdiv/")
  .header("Content-Type", "application/json")
  .post(
    JSON.stringify({patient: pname, region: region}),
    function(error, request) {
     var data = JSON.parse(request.responseText);
     updateDivDiv(id, data.data);
    }
 );
}
</script>

<script type="text/javascript" src="/static/js/divdiv_local.js"></script>
<script type="text/javascript">
function loadDivDivLocal(id, pname) {
 d3.xhr("/method/divdiv_local/")
  .header("Content-Type", "application/json")
  .post(
    JSON.stringify({patient: pname}),
    function(error, request) {
     var data_dd = JSON.parse(request.responseText);

     d3.xhr("/method/genomes/")
     .header("Content-Type", "application/json")
     .post(
       JSON.stringify({patient: pname}),
       function(error, request) {
        var data_gn = JSON.parse(request.responseText);
        var data = {"divdiv": data_dd.data, "genome": data_gn.data};
        updateDivDivLocal(id, data);
       }
     );

    }
 );
}
</script>

<script type="text/javascript" src="/static/js/coverage.js"></script>
<script type="text/javascript">
function loadCoverage(id, pname) {
 d3.xhr("/method/coverage/")
  .header("Content-Type", "application/json")
  .post(
    JSON.stringify({patient: pname}),
    function(error, request) {
     var data = JSON.parse(request.responseText);

     d3.xhr("/method/genomes/")
     .header("Content-Type", "application/json")
     .post(
       JSON.stringify({patient: pname}),
       function(error, request) {
        var data_gn = JSON.parse(request.responseText);

        d3.xhr("/method/n_templates/")
         .header("Content-Type", "application/json")
         .post(
           JSON.stringify({patient: pname}),
           function(error, request) {
            var data_ntemplates = JSON.parse(request.responseText);

            // This is not totally safe, but ok for now
            data = data.data;
            data.genome = data_gn.data;
            data.ntemplates = data_ntemplates.data.ntemplates;
            updateCoverage(id, data);
         });
      });
   });
}
</script>

<script type="text/javascript" src="/static/js/allele_frequencies.js"></script>
<script type="text/javascript">
function loadAlleleFrequencies(id, pname) {
 d3.xhr("/method/allele_frequencies/")
  .header("Content-Type", "application/json")
  .post(
    JSON.stringify({patient: pname}),
    function(error, request) {
     var data = JSON.parse(request.responseText);

     d3.xhr("/method/genomes/")
     .header("Content-Type", "application/json")
     .post(
       JSON.stringify({patient: pname}),
       function(error, request) {
        var data_gn = JSON.parse(request.responseText);


        d3.xhr("/method/n_templates/")
          .header("Content-Type", "application/json")
          .post(
            JSON.stringify({patient: pname}),
            function(error, request) {
             var data_ntemplates = JSON.parse(request.responseText);

             // This is not totally safe, but ok for now
             data = data.data;
             data.genome = data_gn.data;
             data.ntemplates = data_ntemplates.data.ntemplates;
             updateAlleleFrequencies(id, data);
          });
       });
    });
}
</script>


<!-- load at page opening -->
<script>
loadTree("treeSvg{{pname}}Sum", "{{pname}}", "V3");
loadPhysio("physioSvg{{pname}}", "{{pname}}");
loadGenome("genomeSvg{{pname}}", "{{pname}}");
</script>


<!-- collapsible event handling -->
<script type="text/javascript">
$('#viral').on('shown.bs.collapse', function () {
    loadPhysio("physioSvg{{pname}}", "{{pname}}");
})
$('#viral').on('hidden.bs.collapse', function () {
    emptyPhysio("physioSvg{{pname}}");
})

$('#genome').on('shown.bs.collapse', function () {
    loadGenome("genomeSvg{{pname}}", "{{pname}}");
})
$('#genome').on('hidden.bs.collapse', function () {
    emptyGenome("genomeSvg{{pname}}");
})

$('#tree').on('shown.bs.collapse', function () {
    var region = $('.treeRegion option:selected').val();
    loadTree("treeSvg{{pname}}", "{{pname}}", region);
})
$('#tree').on('hidden.bs.collapse', function () {
    emptyTree("treeSvg{{pname}}");
})

$('#divDiv').on('shown.bs.collapse', function () {
    var region = $('.divDivRegion option:selected').val();
    loadDivDiv("divDivSvg{{pname}}", "{{pname}}", region);
})
$('#divDiv').on('hidden.bs.collapse', function () {
    emptyDivDiv("divDivSvg{{pname}}");
})

$('#divDivLocal').on('shown.bs.collapse', function () {
    loadDivDivLocal("divDivLocalSvg{{pname}}", "{{pname}}");
})
$('#divDivLocal').on('hidden.bs.collapse', function () {
    emptyDivDivLocal("divDivLocalSvg{{pname}}");
})

$('#cov').on('shown.bs.collapse', function () {
    loadCoverage("coverageSvg{{pname}}", "{{pname}}");
})
$('#cov').on('hidden.bs.collapse', function () {
    emptyCoverage("coverageSvg{{pname}}");
})

$('#allFreq').on('shown.bs.collapse', function () {
    loadAlleleFrequencies("allFreqSvg{{pname}}", "{{pname}}");
})
$('#allFreq').on('hidden.bs.collapse', function () {
    emptyAlleleFrequencies("allFreqSvg{{pname}}");
})

</script>

<!-- jquery event handling for selections (trees, etc) -->
<script>
$('select.treeRegion').on('change', function(){
   var region = $('.treeRegion option:selected').val();
   loadTree("treeSvg{{pname}}", "{{pname}}", region);
});

$('select.divDivRegion').on('change', function(){
   var region = $('.divDivRegion option:selected').val();
   loadDivDiv("divDivSvg{{pname}}", "{{pname}}", region);
});

</script>


<!-- NOTE: the tag below is a trick for the tree plot -->
<div id="switchRectangular" class="active"></div>
{% endblock %}
