{% extends "base.html" %}
{% block head_end %}
{{ super() }}
<link href="../static/css/patient.css" rel="stylesheet">
{% endblock %}
{% block content %}

<div class="container">
  <!-- sidebar -->
  <div class="patient-sidebar">
    <div class="panel sidebar-panel">
      <div class="panel-heading side">
        <span class="glyphicon glyphicon-user"></span> Patients
      </div>
      <div class="list-group">
        {% for ptmp in config['PATIENTS'] %}
        {% if ptmp == pname and ptmp!='p4'%} <!-- exclude p4 -->
        <a href="/patient/{{ptmp}}" class="list-group-item active">{{ptmp}}</a>
        {% elif ptmp!='p4' %} <!-- exclude p4 -->
        <a href="/patient/{{ptmp}}" class="list-group-item">{{ptmp}}</a>
        {% endif %}
        {% endfor %}
      </div> 
    </div>
  </div>
  <!-- patient content -->
  <div class="patient-content">
    <!-- flashed messages -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-danger" role="alert">
      {% for message in messages %}
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error: </span>{{ message }}
      {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    <!-- end flashed messages -->

    <!-- header -->
    <div class="panel header-panel">
      <div class="panel-body">
        <h4 class="pagetitle"><span class="glyphicon glyphicon-user"></span> Patient {{pname}}</h4>
      </div>
    </div>
    <!-- already expanded panels --> 
    <div class="panel-group">
      <!-- INTRO -->
      <div class="panel tab-panel">
        <div class="panel-heading tab"> 
          <span class="glyphicon glyphicon-question-sign"></span>&nbsp;
          <a data-toggle="collapse" href="#Intro">Introduction</a>
        </div>
        <div id="Intro" class="panel-collapse collapse in">
          <div class="panel-body">
            <div class="text-explanation">
              <!-- Intro text -->  
              {% include ["snippets/intro_"+pname+".html", "snippets/introPatient.html"] ignore missing %}
            </div>
          </div>
        </div>
      </div>
      <!-- INTRO -->
      <!-- SUMMARY -->
      <div class="panel tab-panel">
        <div class="panel-heading tab"> 
          <span class="glyphicon glyphicon-info-sign"></span>&nbsp;
          <a data-toggle="collapse" href="#Sum">Summary</a>
        </div>
        <div id="Sum" class="panel-collapse collapse in">
          <div class="panel-body">
            <!-- Summary content -->
            <div class="row">
              <div class="col-xs-6" style="min-width:350px">
                <dl class="dl-horizontal">
                  {% for row in patientTable %}
                  {% if row['Patient'] == pname %}
                  <dt>subtype</dt><dd>{{row['Subtype']}}</dd>
                  <dt>&#35; samples</dt><dd>{{row['# samples']}}</dd>
                  {% endif %}
                  {% endfor %}
                </dl>
                <!-- SAMPLE TABLE -->
                {% include "snippets/sampleTable.html" %}
                <!-- END SAMPLE TABLE -->
              </div>
              <div class="col-xs-6"  style="min-width:300px">
                <p class="caption">Phylogenetic tree of <b>V3</b> in patient {{pname}}.</p>
                <img src='/static/data/trees/tree_{{pname}}_V3_example.svg' style="max-width:100%; max-height:100%">
                <div class="text-explanation">{% include "snippets/summaryPatient.html" ignore missing %}</div>
              </div>
            </div>
          </div>
        </div>
      </div>    
      <!-- SUMMARY -->
      <!-- PHYSIO -->
      <div class="panel tab-panel"> 
        <div class="panel-heading tab">
          <img width="18" src="../../static/images/icons/viral_load.svg"> 
          <a data-toggle="collapse" href="#viral">Viral load and CD4+ counts</a>
        </div>
        <div id="viral" class="panel-collapse collapse in">
          <div class="panel-body">
            <div align="center">
              <svg class="d3-plot" id="physioSvg"></svg>
            </div>
            <div class="text-explanation">{% include "snippets/physioPatient.html" ignore missing %}</div>
          </div>
        </div>
      </div>
      <!-- END PHYSIO -->
      <!-- TREE -->
      <div class="panel tab-panel"> 
        <div class="panel-heading tab">
          <img width="18" src="../../static/images/icons/tree.svg"> 
          <a data-toggle="collapse" href="#tree" name="phylo">Phylogenetic trees</a>
        </div>
        <div id="tree" class="panel-collapse collapse in">
          <div class="panel-body">
            <div align="center">
              <div class="col-xs-8 col-sm-6">
                <span>Representation:</span>
                <div class="btn-group btn-pad">
                  <button class="btn btn-default" type="radio" name="plotType" id="switchRadial" autocomplete="off">Radial</button>
                  <button class="btn btn-default active" type="radio" name="plotType" id="switchRectangular" autocomplete="off">Horizontal</button>
                </div>
              </div>
              <div class="col-xs-8 col-sm-6">
                <span>Link color:</span>
                <div class="btn-group btn-pad">
                  <button class="btn btn-default" type="radio" name="plotColorLink" id="switchColorLinkBlack" autocomplete="off">Black</button>
                  <button class="btn btn-default active" type="radio" name="plotColorLink" id="switchColorLinkDate" autocomplete="off">Date</button>
                </div>
              </div>
              <div style="padding-bottom:20px">
                <svg class="d3-plot" id='treeSvg'></svg>
              </div>
              <div class="form-group form-inline">
                <label>Region:</label>
                <select class="form-control treeRegion">
                  {% for region in config['REGIONS_TREE'] %}
                  {% if region == 'p17_minor' %}
                  <option selected="selected">{{region}}</option>
                  {% else %}
                  <option>{{region}}</option>
                  {% endif %}
                  {% endfor %} 
                </select>
              </div>
            </div>
            <div class="text-explanation">
              {% include "snippets/treePatient.html" ignore missing %}
            </div>
          </div>
        </div>
      </div>
      <!-- END TREE -->
      <!-- DIV DIV -->
      <div class="panel tab-panel"> 
        <div class="panel-heading tab">
          <img width="18" src="../../static/images/icons/diversity.svg">
          <a data-toggle="collapse" href="#divDiv" name="diver">Genetic divergence and diversity in specific regions</a>
        </div>
        <div id="divDiv" class="panel-collapse collapse">
          <div class="panel-body">
            <div align="center">
              <div style="padding-bottom:20px">
                <svg class="d3-plot" id='divDivSvg'></svg>
              </div>
              <div class="form-group form-inline" align="center">
                <label>Region:</label>
                <select class="form-control divDivRegion">
                  {% for region in config['REGIONS_SNP'] %}
                  {% if region == 'p17' %}
                  <option selected="selected">{{region}}</option>
                  {% else %}
                  <option>{{region}}</option>
                  {% endif %}
                  {% endfor %} 
                </select>
              </div>
            </div>
            {% include "snippets/divdivPatient.html" ignore missing %}
          </div>
        </div>
      </div>
      <!-- END DIV DIV -->
      <!-- DIV DIV LOCAL -->
      <div class="panel tab-panel"> 
        <div class="panel-heading tab">
          <img width="18" src="../../static/images/icons/divdiv_local.svg">
          <a data-toggle="collapse" href="#divDivLocal">Genome wide divergence and diversity patterns</a>
        </div>
        <div id="divDivLocal" class="panel-collapse collapse">
          <div class="panel-body">
            <div align="center">
              <svg class="d3-plot" id='divDivLocalSvg'></svg>
            </div>
            <div class="text-explanation">{% include "snippets/divdivLocalPatient.html" ignore missing %}</div>
          </div>
        </div>
      </div>
      <!-- END DIV DIV LOCAL -->
      <!-- COVERAGE -->
      <div class="panel tab-panel"> 
        <div class="panel-heading tab">
          <img width="18" src="../../static/images/icons/coverage.svg">
          <a data-toggle="collapse" href="#cov" name="cover">Coverage</a>
        </div>
        <div id="cov" class="panel-collapse collapse">
          <div class="panel-body">
            <div align="center">
              <svg class="d3-plot" id='coverageSvg' height="600"></svg>
            </div>
            <div class="text-explanation">{% include "snippets/covPatient.html" ignore missing %}</div>
          </div>
        </div>
      </div>
      <!-- END COVERAGE -->
      <!-- ALLELE FREQUENCIES -->
      <div class="panel tab-panel"> 
        <div class="panel-heading tab">
          <img width="18" src="../../static/images/icons/allele_frequencies.svg">
          <a data-toggle="collapse" href="#allFreq" name="snp">Frequency dynamics of single nucleotide polymorphisms</a>
        </div>
        <div id="allFreq" class="panel-collapse collapse">
          <div class="panel-body">
            <div align="center">
              <svg class="d3-plot" id='allFreqSvg' height="700"></svg>
            </div>
            <div class="text-explanation">{% include "snippets/afPatient.html" ignore missing %}</div>
          </div>
        </div>
      </div>
      <!-- END ALLELE FREQUENCIES -->
      <!-- GENOME SEQUENCE -->
      <div class="panel tab-panel"> 
        <div class="panel-heading tab">
          <img width="18" src="../../static/images/icons/genome.svg"> 
          <a data-toggle="collapse" href="#genome">Genome sequence</a>
        </div>
        <div id="genome" class="panel-collapse collapse">
          <div class="panel-body">
            <div align="center">
              <svg class="d3-plot" id="genomeSvg"></svg>
            </div>
            <div class="text-explanation">
              {% include "snippets/genomePatient.html" ignore missing %}
            </div>  </div>
        </div>
      </div>
      <!-- END GENOME SEQUENCE -->
      <!-- BEGIN CONSENSUS SEQUENCES -->
      <div class="panel tab-panel"> 
        <div class="panel-heading tab">
          <img width="18" src="../../static/images/icons/consensi.svg"> 
          <a data-toggle="collapse" href="#consensus">Consensus sequences</a>
        </div>
        <div id="consensus" class="panel-collapse collapse">
          <div class="panel-body" align="center">
            <form role="form" action="" method="post" name="consensi_settings" class="form-horizontal">
              {{formco.hidden_tag()}}
              <div class="form-group">
                {{formco.region.label}}
                {{formco.region}}
              </div>
              <button type="submit" class="btn btn-default" name="formBtn" value="submitCo">Download sequences</button>
            </form>
          </div>
        </div>
      </div>
      <!-- END CONSENSUS SEQUENCES -->
      <!-- HAPLOTYPES -->
      <div class="panel tab-panel"> 
        <div class="panel-heading tab">
          <img width="18" src="../../static/images/icons/haplotype_frequencies.svg">
          <a data-toggle="collapse" href="#haplo" name="types">Local haplotypes</a>
        </div>
        <div id="haplo" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-6">
                <div class="thumbnail">
                  <h4>Precompiled alignments</h4>
                  <p>These alignments are premade for regions of general interest.</p>
                  <div class="svg-container">
                    <svg id="haploThumbnail" width=400 height=70></svg>
                  </div>
                  <form role="form" action="" method="post" name="haplo_precompiled" style="padding-bottom:10px">
                    <div class="form-group">
                      {{formpc.hidden_tag()}}
                      {{formpc.region.label}}
                      {{formpc.region}}
                    </div>
                    <button type="submit" class="btn btn-default" name="formBtn" value="submitPc">Download</button>
                  </form>
                </div>
              </div>
              <div class="col-md-6">
                <div class="thumbnail">
                  <h4>New alignments</h4>
                  <p>Generate alignments for a custom genomic region.</p>
                  <form role="form" action="" method="post" name="haplo_settings" style="padding:10px">
                    {{formht.hidden_tag()}}
                    <div class="form-group">
                      {{formht.start.label}}
                      {{formht.start(size="5")}}
                      {{formht.end.label}}
                      {{formht.end(size="5")}}
                    </div>
                    <p><b>From</b>/<b>To</b> require <b>HXB2</b> coordinates (both ends included).</p>
                    <p><b>NOTE</b>: A few <b>minutes</b> might elapse while we prepare your data.</p>
                    <button type="submit" class="btn btn-default" name="formBtn" value="submitHt">Generate</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END HAPLOTYPES -->
    </div>
  </div>
</div>

<!-- JS -->
<script type="text/javascript" src="/static/js/physio.js"></script>
<script type="text/javascript">
function loadPhysio(id, pname) {
  d3.json("/api/data/physiological/"+pname, function(error, physio) {
    updatePhysio(id, physio);
  });
}
</script>

<script type="text/javascript" src="/static/js/genome.js"></script>
<script type="text/javascript">
function loadGenome(id, pname) {
  d3.json("/api/data/referenceSequence/"+pname, function(error, genome) {
    var data = {
      'genome': genome,
      'pname': pname,
    };
    updateGenome(id, data);  
  });
}
</script>

<script type="text/javascript" src="/static/js/trees.js"></script>
<script type="text/javascript">
function loadTree(id, pname, region) {
  d3.json("/api/data/tree/"+pname+"/"+region, function(error, tree) {
    var data = {
      'tree': tree,
      'pname': pname,
      'region': region,
    };
    updateTree(id, data);
  });
}
</script>

<script type="text/javascript" src="/static/js/divdiv.js"></script>
<script type="text/javascript">
function loadDivDiv(id, pname, region) {
  d3.json("/api/data/divdiv/"+pname+"/"+region, function(error, divdiv) {
    updateDivDiv(id, divdiv);  
  });
}
</script>

<script type="text/javascript" src="/static/js/divdiv_local.js"></script>
<script type="text/javascript">
function loadDivDivLocal(id, pname) {
  d3.json("/api/data/divdivSliding/"+pname, function(error, divdiv) {
    d3.json("/api/data/referenceSequence/"+pname, function(error, genome) {
      var data = {
        'genome': genome,
        'divdiv': divdiv,
        'pname': pname,
      };
      updateDivDivLocal(id, data);
    });
  });
}
</script>

<script type="text/javascript" src="/static/js/coverage.js"></script>
<script type="text/javascript">
function loadCoverage(id, pname) {
  d3.json("/api/data/coverage/"+pname, function(error, coverage) {
    d3.json("/api/data/referenceSequence/"+pname, function(error, genome) {
      d3.json("/api/data/numberTemplates/"+pname, function(error, nTemplates) {
        var data = coverage;
        data['pname'] = pname;
        data['genome'] = genome;
        data['ntemplates'] = nTemplates;
        updateCoverage(id, data);
      });    
    });  
  });
}
</script>

<script type="text/javascript" src="/static/js/allele_frequencies.js"></script>
<script type="text/javascript">
function loadAlleleFrequencies(id, pname) {
  d3.json("/api/data/snp/"+pname+"/genomewide/sparse", function(error, snp) {
    d3.json("/api/data/referenceSequence/"+pname, function(error, genome) {
      d3.json("/api/data/numberTemplates/"+pname, function(error, nTemplates) {
        var data = snp;
        data['pname'] = pname;
        data['genome'] = genome;
        data['ntemplates'] = nTemplates;
        updateAlleleFrequencies(id, data);
      });    
    });  
  });
}
</script>

<script type="text/javascript" src="/static/js/haplo.js"></script>
<script type="text/javascript">
function loadHaplo(id) {
  d3.json("/api/data/referenceSequence/HXB2", function(error, genome) {
    updateHaplo(id, genome);

    // add handler to move the coloured window to the region
    $('#region').change(function() {
      $("#region option:selected").each(function() {
        moveRegion($(this).text());
      });
    });
  });
}
</script>

<!-- load at page opening -->
<script>
loadPhysio("physioSvg", "{{pname}}");
loadHaplo("haploThumbnail");
loadTree("treeSvg", "{{pname}}", $('.treeRegion option:selected').val());
</script>

<!-- collapsible event handling -->
<script type="text/javascript">
  $('#viral').on('shown.bs.collapse', function () {
    loadPhysio("physioSvg", "{{pname}}");
  });
  $('#viral').on('hidden.bs.collapse', function () {
    emptyPhysio("physioSvg");
  });

  $('#genome').on('shown.bs.collapse', function () {
    loadGenome("genomeSvg", "{{pname}}");
  });
  $('#genome').on('hidden.bs.collapse', function () {
    emptyGenome("genomeSvg");
  });

  $('#tree').on('shown.bs.collapse', function () {
    var region = $('.treeRegion option:selected').val();
    loadTree("treeSvg", "{{pname}}", region);
  });
  $('#tree').on('hidden.bs.collapse', function () {
    emptyTree("treeSvg");
  });

  $('#divDiv').on('shown.bs.collapse', function () {
    var region = $('.divDivRegion option:selected').val();
    loadDivDiv("divDivSvg", "{{pname}}", region);
  });
  $('#divDiv').on('hidden.bs.collapse', function () {
    emptyDivDiv("divDivSvg");
  });

  $('#divDivLocal').on('shown.bs.collapse', function () {
    loadDivDivLocal("divDivLocalSvg", "{{pname}}");
  });
  $('#divDivLocal').on('hidden.bs.collapse', function () {
    emptyDivDivLocal("divDivLocalSvg");
  });

  $('#cov').on('shown.bs.collapse', function () {
    loadCoverage("coverageSvg", "{{pname}}");
  });
  $('#cov').on('hidden.bs.collapse', function () {
    emptyCoverage("coverageSvg");
  });

  $('#allFreq').on('shown.bs.collapse', function () {
    loadAlleleFrequencies("allFreqSvg", "{{pname}}");
  });
  $('#allFreq').on('hidden.bs.collapse', function () {
    emptyAlleleFrequencies("allFreqSvg");
  });
</script>

<!-- jquery event handling for selections (trees, etc) -->
<script>
  $('select.treeRegion').on('change', function(){
   var region = $('.treeRegion option:selected').val();
   loadTree("treeSvg", "{{pname}}", region);
 });

  $('select.divDivRegion').on('change', function(){
   var region = $('.divDivRegion option:selected').val();
   emptyDivDiv("divDivSvg");
   loadDivDiv("divDivSvg", "{{pname}}", region);
 });
</script>

<!-- Manual implementation of the radio buttons in jQuery, since the bootstrap default is broken -->
<script>
$('#switchRectangular').on('click', function () {
  $('#switchRadial').removeClass('active');
  $(this).addClass('active');
  updateTree("treeSvg");
});
$('#switchRadial').on('click', function () {
  $('#switchRectangular').removeClass('active');
  $(this).addClass('active');
  updateTree("treeSvg");
});   
$('#switchColorLinkBlack').on('click', function () {
  $('#switchColorLinkDate').removeClass('active');
  $(this).addClass('active');
  updateTree("treeSvg");
});
$('#switchColorLinkDate').on('click', function () {
  $('#switchColorLinkBlack').removeClass('active');
  $(this).addClass('active');
  updateTree("treeSvg");
});
</script>
   
{% endblock %}
