{% extends "base.html" %}
{% block head_end %}
{{ super() }}
<!-- display message if javascript is disabled -->
<noscript>
    <div class="bg-danger" style="margin-left:50px; margin-right:50px; margin-top:20px;
   margin-bottom:20px; padding-top:20px; padding-left:20px; padding-bottom:20px">
		<p class="text-danger"><strong>Warning:</strong> You don't have JavaScript activated. For full functionality of our site JavaScript has to be enabled.</p>
		<a href="http://www.enable-javascript.com/" target="_blank">How to enable JavaScript?</a>
    </div>
</noscript>
{% endblock %}
{% block content %}
<div class="container" style="padding-top:20px">
    <div class="jumbotron">
		<h2><b>HIV EVO</b></h2>
		<p style="text-align:justify; margin-left:50px; margin-right:50px">
We study genetic evolution of HIV during chronic infection on eleven patients, with nine time points per patient spanning a decade. The virus was sequenced whole-genome with a coverage of several thousand. We built this website as a resource for the HIV research community.<br>
<!--If it is the first time you are visiting this page we recommend to get started with our <a href="/tutorial/">tutorial</a>.<br>
For getting an overview on our data provided on this site per patient, go to the next section containing patient specific data.<br>
Advanced users might take a look on our download section to get the complete datasets.-->
		</p>
	</div>
	<div class="row">
		<h3><span class="glyphicon glyphicon-user"></span> Patients</h3>
<hr>
<div class="well">
<b>How to get started:</b><br>
Select a patient in the following table or in the tree on the right to get more specific data. Click <a href="/patient/p1/">here</a> to show data of patient p1. 
</div>
		<div class="col-xs-6">
<table class="table table-condensed">
<thead>
<tr>
<th rowspan = "2">patient</th>
<th rowspan = "2">subtype</th>
<th rowspan = "2">&#35; samples</th>
<th rowspan = "2">1st sample</th>
<th rowspan = "2">last sample</th>
</tr>
</thead>
<tbody>
<tr>
<td></td>
<td></td>
<td></td>
<td colspan = "2" align="center">[days since infection]</td>
</tr>
{% for row in patientTable %}
<tr>
<!-- TODO patient needs to get clickable! -->
<td><a href="/patient/{{row['Patient']}}/">{{row['Patient']}}</a></td>
<td>{{row['Subtype']}}</td>
<td>{{row['# samples']}}</td>
<td>{{row['1st sample']}}</td>
<td>{{row['last sample']}}</td>
</tr>
{% endfor %}
</tbody>
</table>

</div>
<div class="col-xs-6">
<!-- Insert tree here -->
tree
</div>
<div class="row">
  <div class="col-xs-12">
    <h4>Populationgenetics and Evolution</h4>
    bla
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h4>Data access</h4>
    bla
  </div>
</div>
</div>
{% endblock %}


