{% extends "base.html" %}
{% block content %}

<div class="container" style="padding:20px">
<!-- header -->
  <div class="panel header-panel">
  <div class="panel-body">
      <h4 class="pagetitle">People & Funding</h4>
  </div>
  </div>
<!-- funding -->
  <div class="row logos">
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 center-block">
    <a href="http://erc.europa.eu/intra-patient-evolution-hiv" target="_blank" title="European Research Council: Intra-patient evolution of HIV">
    <img src="../../static/images/people/logo-erc.jpg" width="100"></a>
    </p>
  </div>
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <a href="http://www.mpg.de" target="_blank" title="Max-Planck-Gesellschaft">
    <img src="../../static/images/people/mpg.png" width="120"></a>
    </p>
  </div>
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <a href="http://ki.se/en/startpage" target="_blank" title="Karolinska Institutet">
    <img src="../../static/images/people/ki_logo_rgb.png" width="200"></a>
    </p>
  </div>
  </div>
<!-- people -->
  <div class="panel people-panel">
  <div class="panel-body">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <img src="../../static/images/people/rneher.jpg" width="120">
    </div>
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
    <h5 class="text-primary">Richard Neher</h5>
    <hr>
    <dl class="dl-horizontal">
      <dt>Institute</dt>
      <dd>Max Planck Institute</dd>
      <dt>Department</dt>
      <dd>Developmental Biology</dd>
      <dt>Address</dt>
      <dd>Spemannstrasse 35, 72076 Tuebingen, Germany</dd>
      <dt>E-mail</dt>
      <dd>richard.neher _AT_ tuebingen.mpg.de</dd>
      <dt>Website</dt>
      <dd><a href="http://www.eb.tuebingen.mpg.de/nc/research/departments/details/details/rneher.html" target="_blanck" title="Personal website of Richard Neher"><span class="glyphicon glyphicon-link"></span></a></dd>
    </dl>  
    </div>
  </div>
  </div>

  <div class="panel people-panel">
  <div class="panel-body">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <img src="../../static/images/people/jalbert.jpg" width="120">
    </div>
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
    <h5 class="text-primary">Jan Albert</h5>
    <hr>
    <dl class="dl-horizontal">
      <dt>Institute</dt>
      <dd>Karolinska Institutet</dd>
      <dt>Department</dt>
      <dd>Microbiology, Tumor and Cell Biology</dd>
      <dt>Address</dt>
      <dd>Solna 171 76 Stockholm, Sweden</dd>
      <dt>E-mail</dt>
      <dd>jan.albert _AT_ ki.se</dd>
      <dt>Website</dt>
      <dd><a href="http://ki.se/en/people/janalb" target="_blanck" title="Personal website of Jan Albert"><span class="glyphicon glyphicon-link"></span></a></dd>
    </dl>  
    </div>
  </div>
  </div>


  <div class="panel people-panel">
  <div class="panel-body">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <img src="../../static/images/people/fzanini.jpg" width="120">
    </div>
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
    <h5 class="text-primary">Fabio Zanini</h5>
    <hr>
    <dl class="dl-horizontal">
      <dt>Institute</dt>
      <dd>Max Planck Institute</dd>
      <dt>Department</dt>
      <dd>Developmental Biology</dd>
      <dt>Address</dt>
      <dd>Spemannstrasse 35, 72076 Tuebingen, Germany</dd>
      <dt>E-mail</dt>
      <dd>fabio.zanini _AT_ tuebingen.mpg.de</dd>
      <dt>Website</dt>
      <dd><a href="http://www.eb.tuebingen.mpg.de/nc/research/departments/details/details/fzanini.html" target="_blanck" title="Personal website of Fabio Zanini"><span class="glyphicon glyphicon-link"></span></a></dd>
    </dl>  
    </div>
  </div>
  </div>

<div class="panel people-panel">
  <div class="panel-body">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <img src="../../static/images/people/christa.jpg" width="120">
      </p>
    </div>
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
    <h5 class="text-primary">Christa Lanz</h5>
    <hr>
    <dl class="dl-horizontal">
      <dt>Institute</dt>
      <dd>Max Planck Institute</dd>
      <dt>Department</dt>
      <dd>Developmental Biology</dd>
      <dt>Address</dt>
      <dd>Spemannstrasse 35, 72076 Tuebingen, Germany</dd>
      <dt>E-mail</dt>
      <dd>christa.lanz _AT_ tuebingen.mpg.de</dd>
      <dt>Website</dt>
      <dd><a href="http://www.eb.tuebingen.mpg.de/infrastructure/genome-center.html" target="_blanck" title="Genome Center"><span class="glyphicon glyphicon-link"></span></a></dd>
    </dl>  
    </div>
  </div>
  </div>

<div class="panel people-panel">
  <div class="panel-body">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <img src="../../static/images/people/jbrodin.jpg" width="120">
    </div>
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
    <h5 class="text-primary">Johanna Brodin</h5>
    <hr>
    <dl class="dl-horizontal">
      <dt>Institute</dt>
      <dd>Karolinska Institutet</dd>
      <dt>Department</dt>
      <dd>Microbiology, Tumor and Cell Biology</dd>
      <dt>Address</dt>
      <dd>Solna 171 76 Stockholm, Sweden</dd>
      <dt>E-mail</dt>
      <dd>johanna.brodin _AT_ ki.se</dd>
      <dt>Website</dt>
      <dd><a href="http://ki.se/en/people/johjer" target="_blanck" title="Personal website of Johanna Brodin"><span class="glyphicon glyphicon-link"></span></a></dd>
    </dl>  
    </div>
  </div>
  </div>

<div class="panel people-panel">
  <div class="panel-body">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <img src="../../static/images/people/lina.jpg" width="120">
      </p>
    </div>
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
    <h5 class="text-primary">Lina Thebo</h5>
    <hr>
    <dl class="dl-horizontal">
      <dt>Institute</dt>
      <dd>Karolinska Institutet</dd>
      <dt>Department</dt>
      <dd>Microbiology, Tumor and Cell Biology</dd>
      <dt>Address</dt>
      <dd>Solna 171 76 Stockholm, Sweden</dd>
      <dt>E-mail</dt>
      <dd>lina.thebo _AT_ ki.se</dd>
      <dt>Website</dt>
      <dd><a href="http://ki.se/en/people/linthe" target="_blanck" title="Personal website of Lina Thebo"><span class="glyphicon glyphicon-link"></span></a></dd>
    </dl>  
    </div>
  </div>
  </div>
</div>
{% endblock %}
