.region-content
{
  position: relative;
  top: 0px; 
  bottom: 0px;
  left: 130px;
  right: 0px;
  padding-top: 20px;
}
.region-sidebar
{
  padding-top: 70px;
  position: fixed;
  left: 10px;
  top: 0px;
  bottom: 0px;
  width: 130px; /* same as .patient-content left */
  background-color: #fff;
  z-index: 900;
}

/* sidebar styles */
.sidebar-panel {
  width: 110px; 
  text-align: center;
  border:1px lightgrey solid;
}
.panel-heading.side {
  color: steelblue;
  background-color: whitesmoke;
  border-bottom: 1px lightgrey solid;
}
.list-group > a {
  color: steelblue;
  background-color: white;
}
.list-group > a:hover {
  color: black;
  background-color: whitesmoke;
}
.list-group-item {
  border: 1px lightgrey solid;
}
.list-group-item.active {
  background-color: steelblue;
  color: white;
}