{% extends "base.html" %}
{% block content %}
<div class="container" style="padding:20px">
  <!-- FLASHED MESSAGES -->
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <div class="alert alert-danger" role="alert">
    {% for message in messages %}
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error: </span>{{ message }}
    {% endfor %}
  </div>
  {% endif %}
  {% endwith %}
  <!-- FLASHED MESSAGES -->
  <!-- BANNER -->
  <div class="panel header-panel">
    <div class="panel-body">
      <h4 class="pagetitle"><span class="glyphicon glyphicon-download-alt"></span> Data access</h4>
    </div>
  </div>
  <!-- BANNER -->
  <!-- INTRO -->
  <div class="panel tab-panel">
    <div class="panel-heading tab bottom-border"> 
      Introduction
    </div>
    <div class="text-explanation">
      {% include "snippets/introData.html" ignore missing %}
    </div>
  </div>
  <!-- INTRO -->
  <!-- SUMMARY -->
  <div class="panel tab-panel">
    <div class="panel-heading tab bottom-border"> 
      Clinical and summary data
    </div>
    <div class="panel-body">
      {% include "snippets/summaryTable.html" ignore missing %}
    </div>
    <div class='text-explanation'>
      {% include "snippets/summaryData.html" ignore missing %}
    </div>
  </div>
  <!-- SUMMARY -->
  <!-- HAPLOTYPES -->
  <div class="panel tab-panel">
    <div class="panel-heading tab bottom-border"> 
      Haplotypes
    </div>
    <div class="panel-body">
      <div class="col-md-5">
        <div class="thumbnail">
          <h4>Precompiled alignments</h4>
          <p>These alignments are premade for regions of general interest.</p>
          <div class="svg-container">
            <svg id="haploThumbnail" width=400 height=70></svg>
          </div>
          <form role="form" action="" method="post" name="haplo_precompiled" style="padding-bottom:10px">
            <div class="form-group">
              {{formpc.hidden_tag()}}
              {{formpc.patient.label}}
              {{formpc.patient}}
              {{formpc.region.label}}
              {{formpc.region}}
            </div>
            <button type="submit" class="btn btn-default">Download</button>
          </form>
        </div>
      </div>
      <div class="col-md-7">
        <div class="thumbnail">
          <h4>New alignments</h4>
          <p>Generate alignments for a custom genomic region.</p>
          <form role="form" action="" method="post" name="haplo_settings" style="padding:10px">
            {{form.hidden_tag()}}
            {{form.roi.hidden_tag()}}
            <div class="form-group">
              {{form.patient.label}}
              {{form.patient}}
              {{form.roi.start.label}}
              {{form.roi.start}}
              {{form.roi.end.label}}
              {{form.roi.end}}
            </div>
            <p><b>From</b>/<b>To</b> require <b>HXB2</b> coordinates (both ends included).</p>
            <p><b>NOTE</b>: A few <b>minutes</b> might elapse while we prepare your data.</p>
            <button type="submit" class="btn btn-default">Generate</button>
          </form>
        </div>
      </div>
      <!-- put continuous text here if you need full width of haplo div -->
    </div>
  </div>
  <!-- HAPLOTYPES -->
  <!-- READS -->
  <div class="panel tab-panel">
    <div class="panel-heading tab bottom-border"> 
      Sequencing Reads
    </div>
    <div class="panel-body">
      <!-- TABS FOR PATIENT READS -->
      <ul class="nav nav-tabs">
        {% for datum in data %}
        {% if datum.pname == "p1" %}
        <li class="active"><a data-toggle="tab" href="#reads{{datum.pname}}">{{datum.pname}}</a></li>
        {% else %}
        <li><a data-toggle="tab" href="#reads{{datum.pname}}">{{datum.pname}}</a></li>
        {% endif %}
        {% endfor %}
      </ul> 
      <!-- TABS FOR PATIENT READS -->
      <div class="tab-content">
        {% for datum in data %}
        {% if datum.pname == "p1" %}
        <div id="reads{{datum.pname}}" class="tab-pane fade in active">
        {% else %}
        <div id="reads{{datum.pname}}" class="tab-pane fade">
        {% endif %}
          {% include "snippets/readTable.html" ignore missing %}
        </div>
        {% endfor %}
        <div class="text-explanation">
          {% include "snippets/readDownload.html" ignore missing %}
        </div>
      </div>
    </div>
  </div>
  <!-- READS -->
  <!-- API -->
  <div class="panel tab-panel">
    <div class="panel-heading tab bottom-border"> 
      API
    </div>
    <div class="panel-body">
      <div class="text-explanation">
        {% include "snippets/api.html" ignore missing %}
      </div>
    </div>
  </div>
  <!-- API -->
</div>

<!-- JavaScript loading at the end to not slow down page load -->
<script type="text/javascript" src="/static/js/haplo.js"></script>
<script type="text/javascript">
function loadHaplo(id) {
  d3.json("/api/data/referenceSequence/HXB2", function(error, genome) {
    updateHaplo(id, genome);

    // add handler to move the coloured window to the region
    $('#region').change(function() {
      $("#region option:selected").each(function() {
        moveRegion($(this).text());
      });
    });
  });
}
loadHaplo("haploThumbnail");

$('#region').change(function() {
 $("#region option:selected").each(function() {
    moveRegion($(this).text());
});
});
</script>

{% endblock %}
