{% extends "plots.html" %}
{% block head_end %}
{{ super() }}
<style>

.axis {
  font: 12px sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.axis .domain {
  fill: none;
  stroke: #000;
  stroke-opacity: .3;
  stroke-width: 10px;
  stroke-linecap: round;
}

.axis .halo {
  fill: none;
  stroke: #ddd;
  stroke-width: 8px;
  stroke-linecap: round;
}

.slider .handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: .5;
  stroke-width: 1.25px;
}

</style>
<script type="text/javascript" src="/static/js/allele_frequencies.js"></script>
<script type="text/javascript">
 function load_single(id, pname) {
  d3.xhr("/allele_frequencies/")
   .header("Content-Type", "application/json")
   .post(
     JSON.stringify({patient: pname}),
     function(error, request) {
      var data = JSON.parse(request.responseText);

      d3.xhr("/genomes/")
      .header("Content-Type", "application/json")
      .post(
        JSON.stringify({patient: pname}),
        function(error, request) {
         var data_gn = JSON.parse(request.responseText);


	  d3.xhr("/n_templates/")
	   .header("Content-Type", "application/json")
	   .post(
             JSON.stringify({patient: pname}),
             function(error, request) {
              var data_ntemplates = JSON.parse(request.responseText);

	      // This is not totally safe, but ok for now
	      data = data.data;
	      data.genome = data_gn.data;
	      data.ntemplates = data_ntemplates.data.ntemplates;
	      update(data, id);
	   });
        });
     });
 }

 function load() {
  load_single("{{data.id}}", "{{data.pname}}");
 }
</script>
{% endblock %}
{% block body_attributes %}onload="load()"{% endblock %}
{% block content %}
 <h1>{{section_name}}</h1>
 {% if show_intro %}
  <h4>
   Mutations at different sites are present at different frequencies in the viral population. These frequencies change in time. Frequency changes are caused by depending on interactions with the host immune system and other selective pressures, by linkage and hitchhiking (genetic draft), and by genetic drift.
  </h4>
 {% endif %}
  <h3>{{data.name}}</h3>
  <div class="svg-container">
   <svg class="d3-plot {{data.id}}" height="700"></svg>
  </div>

 <form role="form" action="" method="post" name="aft_settings" class="form-inline">
  {{form.hidden_tag()}}
  <div class="form-group">
   {{form.patient.label}} {{form.patient}}
  </div>
  <button type="submit" class="btn btn-default">Plot</button>
  </form>
{% endblock %}

