{% extends "plots.html" %}
{% block head_end %}
{{ super() }}
<style>

.axis {
  font: 12px sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.axis .domain {
  fill: none;
  stroke: #000;
  stroke-opacity: .3;
  stroke-width: 10px;
  stroke-linecap: round;
}

.axis .halo {
  fill: none;
  stroke: #ddd;
  stroke-width: 8px;
  stroke-linecap: round;
}

.slider .handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: .5;
  stroke-width: 1.25px;
  cursor: crosshair;
}

</style>
<script type="text/javascript" src="/static/js/coverage.js"></script>
<script type="text/javascript">
  function load_single(id, pname) {
   d3.xhr("/coverage/")
    .header("Content-Type", "application/json")
    .post(
      JSON.stringify({patient: pname}),
      function(error, request) {
       var data = JSON.parse(request.responseText);

       d3.xhr("/genomes/")
       .header("Content-Type", "application/json")
       .post(
         JSON.stringify({patient: pname}),
         function(error, request) {
          var data_gn = JSON.parse(request.responseText);

	  d3.xhr("/n_templates/")
	   .header("Content-Type", "application/json")
	   .post(
             JSON.stringify({patient: pname}),
             function(error, request) {
              var data_ntemplates = JSON.parse(request.responseText);

	      // This is not totally safe, but ok for now
	      data = data.data;
	      data.genome = data_gn.data;
	      data.ntemplates = data_ntemplates.data.ntemplates;
	      update(data, id);
	     }
	   );
          }
       );
      }
   );
  }

 function load() {
  {% for dict in dicts %}
  load_single("{{dict.id}}", "{{dict.pname}}");
  {% endfor %}
 }
</script>
{% endblock %}
{% block body_attributes %}onload="load()"{% endblock %}
{% block content %}
 <h1>{{section_name}}</h1>
 {% if show_intro %}
  <h4>
   Coverage indicates how many times each base in the genome was sequenced. The reciprocal value is the maximal sequencing depth, but the total depth is often limited by the number of HIV molecules in the plasma samples or by the error rate of the PCR polymerase.
  </h4>
 {% endif %}
 {% for dict in dicts %}
  <h3>{{dict.name}}</h3>
  <div class="svg-container">
   <svg class="d3-plot {{dict.id}}"></svg>
  </div>
 {% endfor %}
 <br>

 <h3>Select options:</h3>
 <form role="form" action="" method="post" name="coverage_settings">
  {{form.hidden_tag()}}
  <div class="form-group">
  <label for="patients">Patients</label>
  <p id="patients">
    Patients: p1 {{form.p1}} p2 {{form.p2}} p3 {{form.p3}} p4 {{form.p4}} p5 {{form.p5}} p6 {{form.p6}} p7 {{form.p7}} p8 {{form.p8}} p9 {{form.p9}} p10 {{form.p10}}  p11 {{form.p11}}
    <br>
  </p>
  </div>
  <button type="submit" class="btn btn-default">Plot</button>
  </form>
 </div>
{% endblock %}

