{% extends "plots.html" %}
{% block head_end %}
{{ super() }}
<script type="text/javascript" src="/static/js/divdiv.js"></script>
<script type="text/javascript">
 function load_single(id, pname, fragment) {
  d3.xhr("/divdiv/")
   .header("Content-Type", "application/json")
   .post(
     JSON.stringify({patient: pname, fragment: fragment}),
     function(error, request) {
      var data = JSON.parse(request.responseText);
      update(data.data, id);
     }
  );
 }

 function load() {
  load_single("{{data.id}}", "{{data.pname}}", "{{data.fragment}}");
 }
</script>
{% endblock %}
{% block body_attributes %}onload="load()"{% endblock %}
{% block content %}
 <h1>{{section_name}}</h1>
 {% if show_intro %}
  <h4>
   Genetic divergence measures the fraction of genetic sites that have mutated in the viral population from the initial virus. Diversity indicates the fraction of mutated sites within a single viral population.
  </h4>
 {% endif %}
  <h3>{{data.name}}</h3>
  <div class="svg-container">
   <svg class="d3-plot {{data.id}}"></svg>
  </div> 
 <br>
 
 <h3>Select options:</h3>
 <form role="form" action="" method="post" name="divdiv_settings">
  {{form.hidden_tag()}}
  <div class="form-group">
   {{form.patient.label}}
   {{form.patient}}
   {{form.fragment.label}}
   {{form.fragment}}
  </div>
  <button type="submit" class="btn btn-default">Plot</button>
 </form>
{% endblock %}

