{% extends "plots.html" %}
{% block head_end %}
{{ super() }}
<script>
  function get_tmax(data) {
   var tmax = 0;
   for (i = 0; i < data.vl.length; i++) {
     if (data.vl[i][0] > tmax) {
      tmax = data.vl[i][0];
     }
   }
   for (i = 0; i < data.cc.length; i++) {
     if (data.cc[i][0] > tmax) {
      tmax = data.cc[i][0];
     }
   }
   return tmax;
  }

  function get_ymax(data) {
   var ymax = 0;
   for (i = 0; i < data.length; i++) {
     if (data[i][1] > ymax) {
      ymax = data[i][1];
     }
   }
   return ymax;
  }

  function update(data, id) {

   var margin = {top: 60, right: 60, bottom: 50, left: 80},
       width = 500 - margin.left - margin.right,
       height = 500 - margin.top - margin.bottom;

   var tmax = get_tmax(data);
   var vlmax = get_ymax(data.vl);
   var ccmax = get_ymax(data.cc);

   var y_vl = d3.scale.log()
        .domain([40, 1.1 * vlmax])
        .range([height, 0]);

   var y_cc = d3.scale.linear()
        .domain([0, 1.1 * ccmax])
        .range([height, 0]);
   
   var x = d3.scale.linear()
        .domain([0, 1.1 * tmax])
        .range([0, width]);

   var xAxis = d3.svg.axis()
       .scale(x)
       .orient("bottom");
   
   var yAxis_vl = d3.svg.axis()
       .scale(y_vl)
       .orient("left");

   var yAxis_cc = d3.svg.axis()
       .scale(y_cc)
       .orient("right");

   var chart_ext = d3.select("."+id)
       .attr("width", width + margin.left + margin.right)
       .attr("height", height + margin.bottom + margin.top);

   var chart = chart_ext.append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

   chart.append("g")
        .attr("class", "d3-axis")
        .attr("transform", "translate(0," + height + ")")
        .call(xAxis)
        .append("text")
        .attr("x", width / 2)
        .attr("y", 40)
        .style("text-anchor", "middle")
        .text("Time from infection [days]");
    
   chart.append("g")
        .attr("class", "d3-axis")
        .call(yAxis_vl)
        .append("text")
        .attr("transform", "rotate(-90)")
        .attr("dy", "-4.5em")
        .attr("x", -height / 2)
        .style("text-anchor", "middle")
        .text("Viral load [copies/ml]");

   chart.append("g")
        .attr("class", "d3-axis")
        .attr("transform", "translate(" + width + " ,0)")
        .call(yAxis_cc)
        .append("text")
        .attr("transform", "rotate(-90)")
        .attr("dy", "4em")
        .attr("x", -height / 2)
        .style("text-anchor", "middle")
        .text("CD4+ counts [copies/ml]");

   chart.append("g")
        .attr("class", "circles VL")
        .selectAll()
        .data(data.vl)
        .enter()
        .append("circle")
        .attr("class", "circle")
        .attr("cx", function(d) { return x(d[0]); })
        .attr("cy", function(d) { return y_vl(d[1]); })
        .attr("r", 3);

   chart.append("g")
        .attr("class", "circles CC")
        .selectAll()
        .data(data.cc)
        .enter()
        .append("rect")
        .attr("class", "rect")
        .attr("x", function(d) { return x(d[0]) - 3; })
        .attr("y", function(d) { return y_cc(d[1]) - 3; })
        .attr("width", 6)
        .attr("height", 6)
        .attr("style", "fill:steelblue");


  }

  function load_single(id, pname) {
   d3.xhr("/physiological/")
    .header("Content-Type", "application/json")
    .post(
      JSON.stringify({patient: pname}),
      function(error, request) {
       var data = JSON.parse(request.responseText);
       update(data.data, id);
      }
   );
  }

 function load() {
  {% for dict in dicts %}
  load_single("{{dict.id}}", "{{dict.pname}}");
  {% endfor %}
 }
</script>
{% endblock %}
{% block body_attributes %}onload="load()"{% endblock %}
{% block content %}
 <h1>{{section_name}}</h1>
 {% if show_intro %}
  <h4>
   The most relevant physiological parameters for HIV infection are viral load and CD4+ counts in the patient blood. Lower viral loads and higher CD4+ counts are generally assciated with better clinical outcome.
  </h4>
 {% endif %}
 {% for dict in dicts %}
  <h3>{{dict.name}}</h3>
  <svg class="d3-plot {{dict.id}}"></svg>
 <br>
 {% endfor %}
 
 <h3>Select options:</h3>
 <form role="form" action="" method="post" name="physio_settings">
  {{form.hidden_tag()}}
  <div class="form-group">
  <label for="patients">Patients</label>
  <p id="patients">
    Patients: p1 {{form.p1}} p2 {{form.p2}} p3 {{form.p3}} p4 {{form.p4}} p5 {{form.p5}} p6 {{form.p6}} p7 {{form.p7}} p8 {{form.p8}} p9 {{form.p9}} p10 {{form.p10}}  p11 {{form.p11}}
    <br>
  </p>
  </div>
  <button type="submit" class="btn btn-default">Plot</button>
 </form>
{% endblock %}
