{% extends "base.html" %}
{% block head_end %}
 <!-- jQuery is also required, but we load it in the base template (bootstrap needs it too) -->

 <!-- D3.js for plots -->
 <link href="/static/css/d3_plots.css" rel="stylesheet" type="text/css">
 <script src="/static/components/d3/d3.js" charset="utf-8"></script>

 <!-- d3-tip for tooltips -->
 <link rel="stylesheet" href="//rawgithub.com/Caged/d3-tip/master/examples/example-styles.css">
 <script type="text/javascript" src="/static/components/d3-tip/index.js"></script>

 <!-- nice IE has no way of finding a string in a list of strings (!) -->
 <!-- maybe we have to put the snippet directly into single scripts, let's hope not -->
 <script type="text/javascript">
  if (!Array.prototype.indexOf) {
     Array.prototype.indexOf = function(item) {
        var i = this.length;
        while (i--) {
           if (this[i] === item) return i;
        }
        return -1;
     }
  }
 </script>
{% endblock %}
