{% extends "plots.html" %}
{% block head_end %}
{{ super() }}
<script type="text/javascript" src="/static/js/d3.phylogram.js/newick.js"></script>
<script type="text/javascript" src="/static/js/d3.phylogram.js/d3.phylogram.js"></script>
<script type="text/javascript" src="/static/js/trees.js"></script>
<script type="text/javascript">
function load_single(id, pname, fragment) {
 d3.xhr("/trees/")
  .header("Content-Type", "application/json")
  .post(
    JSON.stringify({patient: pname, fragment: fragment}),
    function(error, request) {
     var treejson = JSON.parse(request.responseText);
     update(treejson.newick, id, pname);
    }
 );
}

function load() {
 return load_single("{{data.id}}", "{{data.pname}}", "{{data.fragment}}");
}
</script>
{% endblock %}
{% block body_attributes %}onload="load()"{% endblock %}
{% block content %}
 <h1>{{section_name}}</h1>
 {% if show_intro %}
  <h4>
   Phylogenetic trees give a general idea on how similar sequences are. Here we plot trees from consensus sequences from different time points, patients, and parts of the genome. You can specify which trees to display at the bottom of the page.
  </h4>
 {% endif %}
 <h3>{{data.name}}</h3>
 <div id='phylogram_{{data.id}}'></div>
 <br>

 <a role="button" class="btn btn-default" href="/download/tree_{{data.pname}}_{{data.fragment}}.newick">Download data</a>
 
 <h3>Select options:</h3>
 <form role="form" action="" method="post" name="tree_settings">
  {{form.hidden_tag()}}
  <div class="form-group">
   {{form.patient.label}}
   {{form.patient}}
   {{form.fragment.label}}
   {{form.fragment}}
  </div>
  <button type="submit" class="btn btn-default">Plot</button>
 </form>
{% endblock %}
