{% extends "plots.html" %}
{% block head_end %}
{{ super() }}
<script type="text/javascript" src="/static/js/d3.phylogram.js/newick.js"></script>
<script type="text/javascript" src="/static/js/d3.phylogram.js/d3.phylogram.js"></script>
<script type="text/javascript" src="/static/js/trees.js"></script>
<script type="text/javascript">
function load_single(id, pname, region, chartType) {
 // FIXME: use only json trees (global ones and minor vars are missing)
 var treeFormat = 'json';
 d3.xhr("/trees/")
  .header("Content-Type", "application/json")
  .post(
    JSON.stringify({patient: pname, region: region, treeFormat: treeFormat}),
    function(error, request) {
     var data = JSON.parse(request.responseText);
     data.id = id;
     data.pname = pname;
     data.region = region;
     data.chartType = chartType;

     if (treeFormat == 'newick') {
      data.tree = Newick.parse(data.tree);
      update(data);
     } else {
      d3.json(data.tree, function(error, tree) {
       data.tree = tree;      
       update(data);
      });     
     }
    });
}

function load() {
 load_single("{{data.id}}", "{{data.pname}}", "{{data.region}}", "radial");
}
</script>
{% endblock %}
{% block body_attributes %}onload="load()"{% endblock %}
{% block content %}
 <h1>{{section_name}}</h1>
 {% if show_intro %}
  <h4>
   Phylogenetic trees give a general idea on how similar sequences are. Here we plot trees from consensus sequences from different time points, patients, and parts of the genome. You can specify which trees to display at the bottom of the page.
  </h4>
 {% endif %}
 <h3>{{data.name}}</h3>
 <div class="btn-group btn-pad">
  <button class="btn btn-default active" type="radio" name="plotType" id="switchRadial" autocomplete="off">Radial</button>
  <button class="btn btn-default" type="radio" name="plotType" id="switchRectangular" autocomplete="off">Horizontal</label>
 </div>
 <div id='phylogram_{{data.id}}'></div>
 <br>

 <div class="btn-pad">
  <a role="button" class="btn btn-default" href="/download/tree_{{data.pname}}_{{data.region}}.newick">Download tree</a>
 </div>
 
 <form role="form" action="" method="post" name="tree_settings" class="form-inline">
  {{form.hidden_tag()}}
  <div class="form-group">
   {{form.patient.label}}
   {{form.patient}}
  </div>
  <div class="form-group">
   {{form.region.label}}
   {{form.region}}
  </div>
  <button type="submit" class="btn btn-default">Plot</button>
 </form>

 <script>
  // Manual implementation of the radio buttons in jQuery, since the bootstrap default is broken
  $('#switchRectangular').on('click', function () {
   $('#switchRadial').removeClass('active');
   $(this).addClass('active');
   update({id: "{{data.id}}", chartType: "rectangular"});
  })
  $('#switchRadial').on('click', function () {
   $('#switchRectangular').removeClass('active');
   $(this).addClass('active');
   update({id: "{{data.id}}", chartType: "radial"});
  })
 </script>
{% endblock %}
