<b>Variant frequencies in fragment overlaps</b>
<ul>
<li>The six fragments F1 to F6 overlap between 200 and 350 bases</li>
<li>Variants in these overlaps are sequenced in replicate in a completely independent fashion (starting at reverse transcription)</li>
<li>The figure shows the correlation between variant frequencies in the leading and trailing fragments, deviations from the diagonal signal PCR bias or low template input</li>
<li>Variant frequencies in overlaps are used to quantify the accuracy of frequency estimation for each sample</li>
<li>For each sample and fragment, we quantify the variant frequency accuracy by an <i>effective template number</i>. Effective template numbers are several hundreds for most samples and fragments, but tend to be low for F5.</li>
</ul>
