<!-- NOTE FOR BIANCA: this should be a list, please format it according to your stylesheets -->
<b>Overview of library preparation and sequencing:</b>
<ol>
<li>Start from 400 µl frozen serum sample.</li>
<li> Extract total RNA with double elution for maximal template recovery. </li>
<li> cDNA synthesis and 30 cycles of PCR using <i>life technologies SuperScript® III One-Step RT-PCR System with Platinum® Taq High Fidelity DNA Polymerase</i>. PCR is done separately for six overlapping fragments labeled F1 through F6.</li>
<li> Library preparation using <i>Illumina Nextera XT® sample preparation kit</i>, followed by column purification. Size selection with the <i>Sage Science BluePippin®</i> with cutoffs at 550 and 900 bp. These sizes include the library adaptors.</li>
<li> Sequencing on <i>illumina MiSeq®</i> using 500 or 600 cycles kit. </li>
<li> Mapping and cleaning of the sequencing reads (in house Python application). </li>
</ol>
