<!-- NOTE FOR BIANCA: this should be a list, please format it according to your stylesheets -->
<b>Sample preparation:</b>
1. Start from 400 µl frozen serum sample.
2. Extract total RNA with double elution for maximal template recovery.
3. cDNA synthesis and PCR, using <i>life technologies SuperScript® III One-Step RT-PCR System with Platinum® Taq High Fidelity DNA Polymerase</i>, 30 cycles. Six overlapping primer sets are used.
4. Library preparation using <i>illumina Nextera XT® sample preparation kit</i>. After the PCR, purification is done on columns and size selection with the <i>Sage Science BluePippin®</i> with cutoffs at 550 and 900 bp. These sizes include the library adaptors.
5. Sequencing on <i>illumina MiSeq®</i> using 500 or 600 cycles kit.
6. Mapping and cleaning of the sequencing reads (in house Python application).
