<b>Sequencing quality:</b>
Phred quality of a typical sequencing run, estimated by CASAVA 1.8
during base calling. The slow linear decrease is due to a small fraction of
sub-read-length inserts that were not successfully filtered out during size
selection. The more important decrease in quality at the end of read 2 is a
basic limitation of the illumina platform due to phasing errors and optical overlap of
bridge-amplified clusters on the flow cell.
We typically used a quality threshold of 30 for our analysis, corresponding to a miscalling rate of 0.1%.
