{% extends "base.html" %}
{% block head_end %}
{{ super() }}
<link href="../static/css/region.css" rel="stylesheet">
{% endblock %}
{% block content %}

<div class="container">

  <!-- sidebar -->
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 region-sidebar">
    <div class="panel sidebar-panel">
      <div class="panel-heading side">
        <span class="glyphicon glyphicon-zoom-in"></span> Regions
      </div>
      <div class="list-group">
        {% for rtmp in regions %}
        {% if rtmp == region %}
        <a href="/region/{{rtmp}}" class="list-group-item active">{{rtmp}}</a>
        {% else %}
        <a href="/region/{{rtmp}}" class="list-group-item">{{rtmp}}</a>
        {% endif %}
        {% endfor %}
      </div> 
    </div>
  </div>
  <div class="clearfix visible-xs-block"></div>

  <!-- content -->
  <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 region-content">
    <!-- header -->
    <div class="panel header-panel">
      <div class="panel-body">
        <h4 class="pagetitle"><span class="glyphicon glyphicon-zoom-in"></span> Comparing patients in {{region}}</h4>
      </div>
    </div>
    <!-- already expanded panels --> 
    <div class="panel-group">
      <div class="panel tab-panel">
        <div class="panel-heading tab"> 
          <span class="glyphicon glyphicon-info-sign"></span> <a data-toggle="collapse" href="#Sum">Location</a>
        </div>
        <div id="Sum" class="panel-collapse collapse in">
          <div class="panel-body">
            <div class="row">
             <div class="col-xs-12">
              <svg class="d3-plot" id="svgGenome" style="padding-bottom:20px"></svg>
            </div>
          </div>
        </div>
      </div>
    </div>    
    <!-- expand nav -->
    <div class="panel tab-panel"> 
      <div class="panel-heading tab">
       <span class="glyphicon glyphicon-minus"></span>
       <a data-toggle="collapse" data-parent="#expand" href="#divergence">Divergence</a>
     </div>
     <div id="divergence" class="panel-collapse collapse in" align="center">
      <div class="panel-body">
        <svg class="d3-plot" id="svgDivergence"></svg>
      </div>
     </div>
     <div class="text-explanation">{% include "snippets/divergenceRegion.html" ignore missing %}</div>
  </div>
  <div class="panel tab-panel"> 
    <div class="panel-heading tab">
      <span class="glyphicon glyphicon-minus"></span>
      <a data-toggle="collapse" data-parent="#expand" href="#diversity">Diversity</a>
    </div>
    <div id="diversity" class="panel-collapse collapse in" align="center">
      <div class="panel-body">
        <svg class="d3-plot" id="svgDiversity"></svg>
      </div>
    </div>
    <div class="text-explanation">{% include "snippets/diversityRegion.html" ignore missing %}</div>
  </div>
</div>

</div>
</div>

<!-- Scripts at the end of page load -->
<script type="text/javascript" src="/static/js/genome.js"></script>
<script type="text/javascript">
  function loadGenome(id, pname, highlight) {
    d3.xhr("/method/genomes/")
    .header("Content-Type", "application/json")
    .post(
          JSON.stringify({patient: pname}),
          function(error, request) {
            var data = JSON.parse(request.responseText);
            data = {pname: pname, genome: data.data};
            if (highlight)
              data.highlightedRegions = ["{{region}}"];
            updateGenome(id, data);
          }
          );
  }
</script>

<script type="text/javascript" src="/static/js/divdivAll.js"></script>
<script type="text/javascript">
 function loadDivs(id, pnames, region, dtype, data) {
  data = data || [];
  var pname = pnames[0];
  d3.xhr("/method/divdiv/")
  .header("Content-Type", "application/json")
  .post(
        JSON.stringify({patient: pname, region: region}),
        function(error, request) {
          var datum = JSON.parse(request.responseText).data;
          datum.patient = pname;
          data.push(datum);
          pnames.shift();
          if (pnames.length > 0) 
            loadDivs(id, pnames, region, dtype, data);
          else
            updateDivs(id, data, dtype);
        }
        );
}

</script>


<!-- load at page opening -->
<script>
  loadGenome("svgGenome", "HXB2", true);
  loadDivs("svgDivergence", {{pnames | tojson}}, "{{region}}", "dg");
  loadDivs("svgDiversity", {{pnames | tojson}}, "{{region}}", "ds");
</script>



{% endblock %}
