{% extends "base.html" %}
{% block head_end %}
{{ super() }}
<link href="../static/css/region.css" rel="stylesheet">
{% endblock %}
{% block content %}

<div class="container">
  <!-- SIDEBAR -->
  <div class="region-sidebar">
    <div class="panel sidebar-panel">
      <div class="panel-heading side">
        <span class="glyphicon glyphicon-zoom-in"></span> Regions
      </div>
      <div class="list-group">
        {% for rtmp in config['REGIONS_SNP'] %}
        {% if rtmp == region %}
        <a href="/region/{{rtmp}}" class="list-group-item active">{{rtmp}}</a>
        {% else %}
        <a href="/region/{{rtmp}}" class="list-group-item">{{rtmp}}</a>
        {% endif %}
        {% endfor %}
      </div> 
    </div>
  </div>
  <!-- SIDEBAR -->

  <!-- content -->
  <div class="region-content">
    <!-- header -->
    <div class="panel header-panel">
      <div class="panel-body">
        <h4 class="pagetitle"><span class="glyphicon glyphicon-zoom-in"></span> Comparing patients in {{region}}</h4>
      </div>
    </div>
    <!-- already expanded panels --> 
    <div class="panel-group">
      <div class="panel tab-panel">
        <div class="panel-heading tab"> 
          <span class="glyphicon glyphicon-info-sign"></span> <a data-toggle="collapse" href="#Sum">Location</a>
        </div>
        <div id="Sum" class="panel-collapse collapse in">
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-12">
                <svg class="d3-plot" id="svgGenome" style="padding-bottom:20px"></svg>
              </div>
            </div>
          </div>
        </div>
      </div>    
      <!-- expand nav -->
      <!-- TREE -->
      <div class="panel tab-panel"> 
        <div class="panel-heading tab">
          <span class="glyphicon glyphicon-minus"></span>
          <a data-toggle="collapse" data-parent="#expand" href="#tree">Tree of all patients</a>
        </div>
        <div id="tree" class="panel-collapse collapse in" align="center">
          <div class="panel-body">
            <svg class="d3-plot" id="svgTree" style="max-width:500px;"></svg>
            <!-- NOTE: the tag below is a trick for the tree plot -->
            <div id="switchColorLinkPatient" class="active"></div>
          </div>
        </div>
        <div class="text-explanation">{% include "snippets/treeRegion.html" ignore missing %}</div>
      </div>
      <!-- TREE -->
      <!-- DIVERGENCE -->
      <div class="panel tab-panel"> 
        <div class="panel-heading tab">
          <span class="glyphicon glyphicon-minus"></span>
          <a data-toggle="collapse" data-parent="#expand" href="#divergence">Divergence</a>
        </div>
        <div id="divergence" class="panel-collapse collapse in" align="center">
          <div class="panel-body">
            <svg class="d3-plot" id="svgDivergence"></svg>
          </div>
        </div>
        <div class="text-explanation">{% include "snippets/divergenceRegion.html" ignore missing %}</div>
      </div>
      <!-- DIVERGENCE -->
      <!-- DIVERSITY -->
      <div class="panel tab-panel"> 
        <div class="panel-heading tab">
          <span class="glyphicon glyphicon-minus"></span>
          <a data-toggle="collapse" data-parent="#expand" href="#diversity">Diversity</a>
        </div>
        <div id="diversity" class="panel-collapse collapse in" align="center">
          <div class="panel-body">
            <svg class="d3-plot" id="svgDiversity"></svg>
          </div>
        </div>
        <div class="text-explanation">{% include "snippets/diversityRegion.html" ignore missing %}</div>
      </div>
      <!-- DIVERSITY -->
    </div>
  </div>
  <!-- CONTENT -->
</div>

<!-- JS -->
<script type="text/javascript" src="/static/js/genome.js"></script>
<script type="text/javascript">
function updateGenome(id, data) {
    var svg = d3.select('#'+id),
        divWidth = $('#'+id).parent().width();

    var chart = genomeChart()
      .svgWidth(divWidth)
      .zoomCallbacks({'zoomin': {'pre': function(d) {
        if ({{config['REGIONS_SNP']|tojson}}.indexOf(d.name) != -1) {
          var loc = window.location.href;
          if (loc.substr(-1) == '/')
            loc = loc.substr(0, loc.length - 1);
          loc = loc.substr(0, loc.lastIndexOf("/")) + "/" + d.name;
          window.location.href = loc;
        }
        throw '';
      }}});

    svg.datum(data)
       .call(chart);
}

function loadGenome(id, pname, highlight) {
  d3.json("/api/data/referenceSequence/"+pname, function(error, genome) {
    var data = {
      'genome': genome,
      'pname': pname,
    };
    if (highlight)
      data.highlightedRegions = ["{{region}}"];
    updateGenome(id, data);  
  });
}
</script>

<script type="text/javascript" src="/static/js/divdivAll.js"></script>
<script type="text/javascript" src="/static/js/trees.js"></script>
<script type="text/javascript">
function loadDivs(id, pnames, region, dtype, data) {
  data = data || [];
  var pname = pnames[0];
  d3.json("/api/data/divdiv/"+pname+"/"+region, function(error, divdiv) {
    divdiv.patient = pname;
    data.push(divdiv);
    pnames.shift();
    // recursive JS call
    if (pnames.length > 0) 
      loadDivs(id, pnames, region, dtype, data);
    else
      updateDivs(id, data, dtype);
  });
}

function loadTree(id, pname, region) {
  d3.json("/api/data/tree/"+pname+"/"+region, function(error, tree) {
    var data = {};
    data.tree = tree;      
    data.pname = pname;
    data.region = region;
    data.leafLabels = false;
    data.optimizeSpace = true;
    data.tipMuts = false;
    updateTree(id, data);
   });     
}
</script>
<!-- load at page opening -->
<script>
loadGenome("svgGenome", "HXB2", true);
loadDivs("svgDivergence", {{config['PATIENTS'] | tojson}}, "{{region}}", "dg");
loadDivs("svgDiversity", {{config['PATIENTS'] | tojson}}, "{{region}}", "ds");
loadTree("svgTree", "all", "{{region}}");
</script>
{% endblock %}
