<p>
All data shown on this website can be accessed via a RESTful API for easy web-compatible manipulation.
</p>

<p>
The API is in <b>JSON</b> format only. Any "Accept" HTTP header will be ignored.
</p>

<p>
The base URI is <b>/api/data/</b>. To this root you can add parameters of interest:
<ul>
  <li><b>TREES:</b> tree/&ltpatientname&gt/&ltregion&gt (e.g. tree/p1/V3)</li>
  <li><b>VIRAL LOAD:</b> viralLoad/&ltpatientname&gt (e.g. viralLoad/p1)</li>
  <li><b>CD4+ CELL COUNT:</b> cellCount/&ltpatientname&gt (e.g. cellCount/p1)</li>
  <li><b>NUMBER OF TEMPLATE MOLECULES:</b> numberTemplates/&ltpatientname&gt (e.g. numberTemplates/p1)</li>
  <li><b>REFERENCE SEQUENCES:</b> referenceSequence/&ltpatientname&gt (e.g. referenceSequence/p1)</li>
  <li><b>DIVERGENCE/DIVERSITY:</b> divdiv/&ltpatientname&gt/&ltregion&gt (e.g. divdiv/p1/V3)</li>
  <li><b>COVERAGE:</b> coverage/&ltpatientname&gt (e.g. coverage/p1)</li>
  <li><b>SINGLE NUCLEOTIDE POLYMORPHISMS:</b> singleNucleotidePolymorphisms/&ltpatientname&gt (e.g. singleNucleotidePolymorphisms/p1)</li>
  <li><b>HAPLOTYPES:</b> haplotypes/&ltpatientname&gt/&ltregion&gt (e.g. haplotypes/p1/V3)</li>
  <li>TODO: write and document complete API</li>
</ul>
</p>

