<p>
  All data shown on this website can be accessed via a RESTful API for easy web-compatible manipulation. The base URL is
</p>
<p align="center" style="padding-top: 10px; padding-bottom: 10px;">
  <b>/api/data/</b>
</p>
<p style="padding-bottom: 10px;">
  To this root you can append parameters of interest:
</p>

<table class="table">
  <thead>
    <tr>
      <th>Parameter</th>
      <th>URL</th>
      <th>Example</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Trees</td>
      <td>tree/&ltpatientname&gt/&ltregion&gt</td>
      <td><a href="/api/data/tree/p1/V3">tree/p1/V3</a></td>
    </tr>
    <tr>
      <td>Viral load</td>
      <td>viralLoad/&ltpatientname&gt</td>
      <td><a href="/api/data/viralLoad/p1">viralLoad/p1</a></td>
    </tr>
    <tr>
      <td>CD4+ cell count</td>
      <td>cellCount/&ltpatientname&gt</td>
      <td><a href="/api/data/cellCount/p1">cellCount/p1</a></td>
    </tr>
    <tr>  
      <td>Number of template molecules</td>
      <td>numberTemplates/&ltpatientname&gt</td>
      <td><a href="/api/data/numberTemplates/p1">numberTemplates/p1</a></td>
    </tr>
    <tr>  
      <td>Reference sequences</td>
      <td>referenceSequence/&ltpatientname&gt</td>
      <td><a href="/api/data/referenceSequence/p1">referenceSequence/p1</a></td>
    </tr>
    <tr>
      <td>Divergence/diversity</td>
      <td>divdiv/&ltpatientname&gt/&ltregion&gt</td>
      <td><a href="/api/data/divdiv/p1/V3">divdiv/p1/V3</a></td>
    </tr>
    <tr>  
      <td>Single nucleotide polymorphisms</td>
      <td>singleNucleotidePolymorphisms/&ltpatientname&gt</td>
      <td><a href="/api/data/singleNucleotidePolymorphisms/p1">singleNucleotidePolymorphisms/p1</a></td>
    </tr>
    <tr>  
      <td>Haplotypes</td>
      <td>haplotypes/&ltpatientname&gt/&ltregion&gt</td>
      <td><a href="/api/data/haplotypes/p1/V3">haplotypes/p1/V3</a></td>
    </tr>
  </tbody>    
</table>

<div class="text-explanation">

<b>Notes:</b>
<ul>
  <li>The API is in <b>JSON</b> format only. Any "Accept" HTTP header will be ignored.</li>
</ul>
</div>
