<b>Notes:</b>
 <ul>
   <li> <b>Time of Infection, Viral load, CD4+ counts, and HLA type:</b> Download a Tab Separated Value (TSV) text file with the respective data for each patient</li>
   <li><b>HLA:</b> Download a TSV file with the HLA types of the patients.</li>
   <li> <b>Reference:</b> Download the consensus sequence of the first time point as annotated genbank (GB) or fasta format.</li>
   <li> <b>Depth:</b> Download a TSV ile with RNA template number estimates and fragment specific estimates of effective depth.</li>
   <li> <b>Single nucleotide variant (SNV) counts:</b> Download a set of (big) tables containing the number of ACGT-N observations at each position in the genome.</li>
 </ul>
